﻿@model CountryViewModel
@{
    ViewBag.Title = "Pinterest's Most Followed 15 Accounts";
    ViewBag.Description = "List of Pinterest's Most Popular Accounts based on Follower and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top15Accounts", "Account"));
}
<div class="container mt-3">
    <h1 class="mb-10 mt-20">Pinterest's Most Followed 15 Accounts</h1>
    <p>
        List of Pinterest's Most Popular Accounts filtered by @Model.Location.LocationName based on Follower and Image Counts.
        This list is periodically update by automatically, please come and check again.
    </p>

    <div class="row">
        @{ var counter = 1; }
        @foreach (var item in Model.Users)
        {
            var css = "bg-slate-600";

            if (counter % 2 == 0) { css = "bg-pink-400"; }
            if (counter % 3 == 0) { css = "bg-indigo-400"; }
            if (counter % 4 == 0) { css = "bg-teal-400"; }

            <div class="col-xl-3 col-sm-6 user-lists mb-3">
                <div class="card ">
                    <div class="card-body bg-blue text-center card-img-top @css" style="background-image: url(/_assets/img/panel_bg.png); background-size: contain;">
                        <div class="card-overlay">
                            <p class="badge badge-secondary">@counter</p>
                        </div>
                        <div class="card-img-actions d-inline-block position-relative mb-3">
                            <a href="@Url.Action("Index","Account", new { username = item.Username, userid = item.UserId })/" title="">
                                <img class="img-fluid rounded-circle" src="@item.ImagePath" width="70" height="70" alt="">
                            </a>
                        </div>

                        <h6 class="font-weight-semibold position-relative mb-0">@item.Fullname</h6>
                        <span class="d-block opacity-75 position-relative">@item.Username</span>

                    </div>

                    <div class="card-body border-top-0 text-dark">
                        <div class="d-sm-flex flex-sm-wrap mb-3">
                            <div class="font-weight-semibold"><i class="icon-users4 mr-2"></i> Followers :</div>
                            <div class="ml-sm-auto mt-2 mt-sm-0">@item.Followers.ToFormattedInt()</div>
                        </div>

                        <div class="d-sm-flex flex-sm-wrap mb-3">
                            <div class="font-weight-semibold"><i class="icon-users mr-2"></i> Followings :</div>
                            <div class="ml-sm-auto mt-2 mt-sm-0">@item.Followings.ToFormattedInt()</div>
                        </div>

                        <div class="d-sm-flex flex-sm-wrap mb-3">
                            <div class="font-weight-semibold"><i class="icon-pin mr-2"></i> Pins :</div>
                            <div class="ml-sm-auto mt-2 mt-sm-0">@item.PinCount.ToFormattedInt()</div>
                        </div>

                        <div class="d-sm-flex flex-sm-wrap">
                            <div class="font-weight-semibold"><i class="icon-clipboard mr-2"></i> Board Count</div>
                            <div class="ml-sm-auto mt-2 mt-sm-0">@item.BoardCount.ToFormattedInt()</div>
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
    
</div>