﻿@model TagPinsViewModel
@{
    ViewBag.Title = Model.Tag.HashtagTitle();
    ViewBag.Description = Model.Tag.HashtagDescription();
    ViewBag.Robots = Model.Medias.Count < 5
        ? "noindex,follow"
        : "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Hashtag", new { tag = Model.Tag }));

    var tagsInPage = new List<string>();
}

@if (Model.Relateds.Count > 0)
{
    <div class="centered" id="stickybar">
        <div class="container text-center">
            @foreach (var tag in Model.Relateds.OrderBy(x => Guid.NewGuid()).Take(10))
            {
                <a class="c-dark btn" href="@Url.Action("Index","Hashtag", new { tag = tag.ToSlug() })/" title="@tag.HashtagTitle()">
                    @tag
                </a>
            }
        </div>
    </div>
}

<div class="hashtag mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="icon-hash icon-2x text-success-400 border border-success-400 rounded-circle p-3 mb-3 mt-1"></i>
                        <h1 class="card-title h4">@Model.Tag.HashtagTitle()</h1>
                        <p class="mb-3">
                            Browse Pinterest @Model.Tag Images, Videos and Ideas recently shared on Pinterest.
                            Also find suggestions for pinterest hashtag @Model.Tag
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row medias">
        <div class="timeline timeline-center">
            <div class="timeline-container">
                @{ var counter = 0;}
                @foreach (var item in Model.Medias)
                {
                    item.HasUserLink = false;
                    item.TagsInPage = tagsInPage;

                    item.Count = counter;

                    @Html.Partial("_media", item)
                    counter++;
                }
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Bookmark))
{
    <div class="container my-3 text-center">
        <input type="hidden" id="hdnBookmark" value="@Model.Bookmark" />
        <input type="hidden" id="hdnTag" value="@Model.Tag" />
        <input type="button" id="btnLoadMore" value="Load More" class="btn btn-danger" style="padding:0px 100px !important" />
    </div>
}

<div class="image-opener">
    <div class="gallery">
        <span class="close"><i class="icon-close2"></i></span>
        <span class="left"><i class="icon-circle-left2"></i></span>
        <span class="right"><i class="icon-circle-right2"></i></span>
        <div class="gallery-image">
            <img src="" data-count="" alt="">
        </div>
    </div>
</div>

@section scripts
{
    @if (!string.IsNullOrEmpty(Model.Bookmark))
    {
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#btnLoadMore").click(function () {
                    var bookmark = $("#hdnBookmark").val();
                    var tag = $("#hdnTag").val();

                    $.ajax({
                        type: "POST",
                        url: "/loadmore/",
                        data: "{ 'tag': '" + tag + "','bookmark':'" + bookmark + "' }",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            var counter = @counter;
                            $.each(result.medias, function (index, item) {
                                var userAnchorTitle = item.fullname + " (" + item.username + ")'s Pinterest Account, Images and Ideas";
                                var userAvatarTitle = item.fullname + "'s Pinterest Account Avatar";
                                counter = counter + 1;
                                if (counter % 2 == 0) {
                                    $(".timeline-container").append('<div class="timeline-row timeline-row-right">'+
                                                                    '<div class="timeline-icon">'+
                                                                        '<img src="'+item.avatar+'"'+
                                                                            'alt="'+userAvatarTitle+'" title="'+userAvatarTitle+'">'+
                                                                    '</div>'+
                                                                    '<div class="timeline-time">'+
                                                                        '<a href="/account/'+item.username+'/'+item.userid +'/" title="'+userAnchorTitle+'">'+item.username+'</a> added a new post'+
                                                                        '<div class="text-muted">'+item.timeago+' ago</div>'+
                                                                    '</div>'+
                                                                    '<div class="card">'+
                                                                        '<div class="card-header header-elements-sm-inline">'+
                                                                            '<h6 class="card-title">'+item.fullname+'</h6>'+
                                                                            '<div class="header-elements">'+
                                                                                '<span><i class="icon-checkmark-circle mr-2 text-success"></i> '+item.timeago+' ago</span>'+
                                                                                '<div class="list-icons ml-3">'+
                                                                                    '<a href="#" class="list-icons-item" data-action="hide">'+
                                                                                        '<i class="icon-arrow-up12"></i>'+
                                                                                    '</a>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                        '<div class="card-body">'+
                                                                            '<div class="card-img-actions mb-3">'+
                                                                                '<img class="card-img img-fluid opener" src="'+item.image+'" alt="'+item.caption+'" title="'+item.caption+'" data-id="'+item.mediaid+'" data-count="'+counter+'">'+
                                                                                '<div class="card-img-actions-overlay card-img">'+
                                                                                    '<a href="/image/'+item.mediaid+'/" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">'+
                                                                                        '<i class="icon-link"></i>'+
                                                                                    '</a>'+
                                                                                '</div>'+
                                                                            '</div>'+

                                                                            '<h6 class="mb-3">'+
                                                                                '<i class="icon-comment-discussion mr-2"></i>'+
                                                                                item.fullname+' commented:'+
                                                                            '</h6>'+

                                                                            '<blockquote class="blockquote blockquote-bordered py-2 pl-3 mb-0">'+
                                                                                '<p class="mb-2 font-size-base">'+item.caption+'</p>'+
                                                                                '<footer class="blockquote-footer">'+item.fullname+'</footer>'+
                                                                            '</blockquote>'+
                                                                        '</div>'+

                                                                        '<div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">'+
                                                                            '<ul class="list-inline mb-0">'+
                                                                                '<li class="list-inline-item"><p class="text-default"><i class="icon-pushpin mr-2"></i> '+item.repincount+'</p></li>'+
                                                                                '<li class="list-inline-item"><p class="text-default"><i class="icon-comment-discussion mr-2"></i> 0</p></li>'+
                                                                            '</ul>'+

                                                                            '<a href="/image/'+item.mediaid+'/" title="'+item.caption+'" class="d-inline-block text-default mt-2 mt-sm-0">Post Stats and Detail <i class="icon-arrow-right14 ml-2"></i></a>'+
                                                                        '</div>'+
                                                                    '</div>'+
                                                                '</div>');
                                }
                                else {
                                    $(".timeline-container").append('<div class="timeline-row timeline-row-left">'+
                                                                    '<div class="timeline-icon">'+
                                                                        '<img src="'+item.avatar+'"'+
                                                                            'alt="'+userAvatarTitle+'" title="'+userAvatarTitle+'">'+
                                                                    '</div>'+
                                                                    '<div class="timeline-time">'+
                                                                        '<a href="/account/'+item.username+'/'+item.userid +'/" title="'+userAnchorTitle+'">'+item.username+'</a> added a new post'+
                                                                        '<div class="text-muted">'+item.timeago+' ago</div>'+
                                                                    '</div>'+
                                                                    '<div class="card">'+
                                                                        '<div class="card-header header-elements-sm-inline">'+
                                                                            '<h6 class="card-title">'+item.fullname+'</h6>'+
                                                                            '<div class="header-elements">'+
                                                                                '<span><i class="icon-checkmark-circle mr-2 text-success"></i> '+item.timeago+' ago</span>'+
                                                                                '<div class="list-icons ml-3">'+
                                                                                    '<a href="#" class="list-icons-item" data-action="hide">'+
                                                                                        '<i class="icon-arrow-up12"></i>'+
                                                                                    '</a>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '</div>'+
                                                                        '<div class="card-body">'+
                                                                            '<div class="card-img-actions mb-3">'+
                                                                                '<img class="card-img img-fluid opener" src="'+item.image+'" alt="'+item.caption+'" title="'+item.caption+'" data-id="'+item.mediaid+'" data-count="'+counter+'">'+
                                                                                '<div class="card-img-actions-overlay card-img">'+
                                                                                    '<a href="/image/'+item.mediaid+'/" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">'+
                                                                                        '<i class="icon-link"></i>'+
                                                                                    '</a>'+
                                                                                '</div>'+
                                                                            '</div>'+

                                                                            '<h6 class="mb-3">'+
                                                                                '<i class="icon-comment-discussion mr-2"></i>'+
                                                                                item.fullname+' commented:'+
                                                                            '</h6>'+

                                                                            '<blockquote class="blockquote blockquote-bordered py-2 pl-3 mb-0">'+
                                                                                '<p class="mb-2 font-size-base">'+item.caption+'</p>'+
                                                                                '<footer class="blockquote-footer">'+item.fullname+'</footer>'+
                                                                            '</blockquote>'+
                                                                        '</div>'+

                                                                        '<div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">'+
                                                                            '<ul class="list-inline mb-0">'+
                                                                                '<li class="list-inline-item"><p class="text-default"><i class="icon-pushpin mr-2"></i> '+item.repincount+'</p></li>'+
                                                                                '<li class="list-inline-item"><p class="text-default"><i class="icon-comment-discussion mr-2"></i> 0</p></li>'+
                                                                            '</ul>'+

                                                                            '<a href="/image/'+item.mediaid+'/" title="'+item.caption+'" class="d-inline-block text-default mt-2 mt-sm-0">Post Stats and Detail <i class="icon-arrow-right14 ml-2"></i></a>'+
                                                                        '</div>'+
                                                                    '</div>'+
                                                                '</div>');
                                }

                                
                            });

                            $("#hdnBookmark").val(result.bookmark);
                        }
                    });
                });
            });
        </script>
    }

    <script>
        $(document).ready(function () {

            if ('IntersectionObserver' in window) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                }

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('.timeline-container img');
                images.forEach(img => observer.observe(img));
            }

            $("body").on("click", "a[data-action='hide']", hideCard);
            $("body").on("click", ".opener", openModal);
            $("body").on("click", ".close > i", closeModal);
            $("body").on("click", ".right > i", nextPhoto);
            $("body").on("click", ".left > i", prevPhoto);

            function hideCard() {

                var body = $(this)[0].parentNode.parentNode.parentNode.parentNode;
                var find = $(body).find(".card-body")[0].style.display;
                if(find == "none")
                {
                    $(body).find(".card-body").css("display", "block");
                    $(this).html("<i class='icon-arrow-up12'></i>");
                    event.preventDefault();
                }
                else{
                    $(body).find(".card-body").css("display", "none");
                    $(this).html("<i class='icon-arrow-down12'></i>");
                    event.preventDefault();
                }
            };

            function openModal(){
                var image = $(this).attr("src");
                var count = $(this).attr("data-count");
                var id = $(this).attr("data-id");
                $(".image-opener > .gallery > .gallery-image > img").attr("src",image);
                $(".image-opener > .gallery > .gallery-image > img").attr("data-count",count);
                $(".image-opener").css("display", "inline-flex");
                ChangeUrl('Pagex1', '/image/'+id+'/');
            }


            function closeModal(){
                $(".image-opener").css("display", "none");
                ChangeUrl('Pagex1', '/tag/@Model.Tag/');
            }

            $(".image-opener").mouseup(e => {
                var opener = $('.gallery');
                if (!opener.is(e.target)
                && opener.has(e.target).length === 0)
                {
                    $(".image-opener").css("display", "none");
                    ChangeUrl('Pagex1', '/tag/@Model.Tag/');
               }
            });

            function nextPhoto(){
                var imgs = $('.card-body').find("img");
                var currentImage = $(".image-opener > .gallery > .gallery-image > img").attr("data-count");
                if(currentImage < imgs.length)
                {
                    currentImage++;
                    var next = $(imgs[currentImage]).attr("src");
                    if (next === "/_assets/img/default.png") {
                        next = $(imgs[currentImage]).attr("lazy-src");
                    }
                    var nextid = $(imgs[currentImage]).attr("data-id");
                    $(".image-opener > .gallery > .gallery-image > img").attr("src",next);
                    $(".image-opener > .gallery > .gallery-image > img").attr("data-count",currentImage);
                    ChangeUrl('Page1x', '/image/'+nextid+'/');
                }
                else{
                    return false;
                }
            }

            $(document).keydown(function(e) {
                var opener = $(".image-opener")[0].style.cssText;
                if(opener === "display: inline-flex;"){
                    switch(e.which) {
                        case 37: // left
                        prevPhoto();
                        break;
                        case 39: // right
                        nextPhoto();
                        break;
                        default: return;
                    }
                }
                else{
                    return;
                }
            });

            function ChangeUrl(title, url) {
                if (typeof (history.pushState) != "undefined") {
                    var obj = { Title: title, Url: url };
                    history.pushState(obj, obj.Title, obj.Url);
                    @if (!Request.IsLocal)
                    {
                        <text>
                            //Send Analytics
                            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
                            ga('create', 'UA-122389622-2', 'auto');
                            ga('send', 'pageview', url);
                        </text>
                    }
                } else {
                    alert("Browser does not support HTML5.");
                }
            }

            function prevPhoto(){
                var imgs = $('.card-body').find("img");
                var currentImage = $(".image-opener > .gallery > .gallery-image > img").attr("data-count");
                if(currentImage > 0)
                {
                    currentImage--;
                    var next = $(imgs[currentImage]).attr("src");
                    if (next === "/_assets/img/default.png") {
                        next = $(imgs[currentImage]).attr("lazy-src");
                    }
                    var previd = $(imgs[currentImage]).attr("data-id");
                    $(".image-opener > .gallery > .gallery-image > img").attr("src",next);
                    $(".image-opener > .gallery > .gallery-image > img").attr("data-count",currentImage);
                    ChangeUrl('Page1x', '/image/'+previd+'/');
                }
                else {
                    return false;
                }
            }
        });
    </script>
}