﻿@{
    ViewBag.Title = "Pinterest's Most Popular 100 Hashtags";
    ViewBag.Description = "List of Pinterest's Most Popular Hashtags based on Shared and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top100Hashtags", "Hashtag"));
}

    <div class="container mt-3">
        <h1 class="mt-20">Pinterest's Most Followed 100 Hastags</h1>
        <p>List of Pinterest's Most Popular Hashtags based on Shared and Image Counts</p>

        <div class="row">
            @{
                var dict = new Dictionary<string, string>() {
                            {"fail","1.221B" },
                            {"quotes","704.0M" },
                            {"success","701.0M" },
                            {"ideas","654.0M" },
                            {"recipe","628.2M" },
                            {"wedding","610.1M" },
                            {"project","540.0M" },
                            {"addict","522.3M" },
                            {"nails","491.0M" },
                            {"marketing","487.5M" },
                            {"tips","454.1M" },
                            {"start","402.1M" },
                            {"style","369.0M" },
                            {"bride","340.2M" },
                            {"aesthetic","301.7M" },
                            {"fashion","259.0M" }
                        };
                int counter = 1;
            }
            @foreach (var c in dict)
            {
                var css = "bg-slate-600";

                if (counter % 2 == 0) { css = "bg-pink-400"; }
                if (counter % 3 == 0) { css = "bg-indigo-400"; }
                if (counter % 4 == 0) { css = "bg-teal-400"; }

                <div class="col-xl-3 col-sm-6 user-lists mb-3">
                    <div class="card ">
                        <div class="card-body text-center card-img-top @css" style="background-image: url(/_assets/img/panel_bg.png); background-size: contain;">
                            <div class="card-overlay">
                                <p class="badge badge-secondary">@counter</p>
                            </div>
                            <div class="card-img-actions d-inline-block position-relative mb-3">
                                <a href="@Url.Action("Index","Hashtag", new { tag = c.Key })/" title="">
                                    <i class="icon-hash card-icon-list"></i>
                                </a>
                            </div>

                            <h6 class="font-weight-semibold position-relative mb-0">@c.Key</h6>
                            <span class="d-block opacity-75 position-relative">@c.Value</span>

                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
