﻿@{
    ViewBag.Title = "Pinterest's Most Popular 30 Categories";
    ViewBag.Description = "List of Pinterest's Most Popular Categories based on Shared and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top30Categories", "Hashtag"));
}
<div class="container mt-3">
    <h1 class="mt-20 mb-10">Pinterest's Most Popular 30 Categories</h1>
            <p>List of Pinterest's Most Popular Categories based on Shared and Image Counts</p>

    <div class="table-responsive card">
        <table class="table table-sm mb-0 table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tag name</th>
                    <th scope="col">Popularity</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var dict = new Dictionary<string, string>() {
                        { "Food & Drink","food-drink" },
                        { "Diy & Crafts","diy-crafts" },
                        { "Home Decor","home-decor" },
                        { "Women's Fashion","womens-fashion" },
                        { "Quotes","quotes" },
                        { "Health & Fitness","health-fitness" },
                        { "Weddings","weddings" },
                        { "Design","design" },
                        { "Hair Beauty","hair&beauty" },
                        { "Art","art" },
                        { "Kids","kids" },
                        { "Photography","photography" },
                        { "Humor","humor" },
                        { "Holiday Events","holiday-events" },
                        { "Education","education" },
                        { "Travel","travel" },
                        { "Film Music Books","film-music-books" },
                        { "Health Fitness","health-fitness" },
                        { "Products","products" },
                        { "Animals","animals" },
                        { "Celebrities","celebrities" },
                        { "Architecture","architecture" },
                        { "Gardening","gardening" },
                        { "Illustrations Posters","illustrations-posters" },
                        { "Outdoors","outdoors" },
                        { "Tattoos","tattoos" },
                        { "Technology","technology" },
                        { "Science Nature","science-nature" },
                        { "Men's Fashion","mens-fashion" },
                        { "Cars Motorcycles","cars-motorcycles" }
                    };
                    int counter = 0;
                }
                @foreach (var c in dict)
                {
                    counter += 1;
                    <tr>
                        <th scope="row">@counter</th>
                        <td><a href="@Url.Action("Index","Hashtag", new { tag = c.Value })/" title="@c.Key.HashtagTitle()">@c.Key</a></td>
                        <td>0.1%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


