﻿@{
    Layout = null;
}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sos_responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1160450880009363"
     data-ad-slot="3994354590"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>