﻿@{
    Layout = null;
}
    <div class="side-big-ad-desktop">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- sos_300x600 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:600px"
             data-ad-client="ca-pub-1160450880009363"
             data-ad-slot="4576792614"
             data-page-url="https://sosyol.com/tag/lawyer/"
             data-override-format="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
<style>
    .sd-header {
        position: fixed;
        z-index: 1000;
        top: 0;
    }

    .content-xl {
        margin-top: 80px;
    }

    .side-big-ad-desktop {
        z-index: 999;
        position: fixed;
        right: 0;
        top: 0;
    }
</style>