﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description">
    }
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }
    @if (ViewBag.Robots != null)
    {
        <meta name="robots" content="@ViewBag.Robots">
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/_assets/css/style.css" rel="stylesheet">
    <link href="~/_assets/css/icomoon.css" rel="stylesheet">
    <link href="~/_assets/css/colors.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md  fixed-top bg-white">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/_assets/img/logo_new.svg" width="136" height="30" alt="">
            </a>
            <form class="form-inline mt-2 mt-md-0 searchArea">
                <input class="form-control mr-sm-2 query" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning-600 queryButton" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SearchIndex","Home")/">Search</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Discover</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@Url.Action("TopAccounts","Account")/">Top Accounts</a>
                            <a class="dropdown-item" href="@Url.Action("Top100Hashtags","Hashtag")/">Top 100 Hashtags</a>
                            <a class="dropdown-item" href="@Url.Action("Top30Categories","Hashtag")/">Top 30 Categories</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="container footer mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                HypeAuditor
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 links">
                <ul>
                    <li><a href="/company/">Company</a></li>
                    <li><a href="/team/">Team</a></li>
                    <li><a href="/report-guide/">Report a Problem</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        document.querySelector(".query").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };
        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, ' ');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');
            value = value.replace(';', '');
            value = value.replace('@@', '');
            return value;
        }

        document.querySelector(".queryButton").onclick = function () {
            value = clearForSearch(document.querySelector(".query").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }
    </script>

    @if (!Request.IsLocal)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122389622-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-122389622-2');
        </script>
    }

    @RenderSection("scripts", false)

</body>
</html>
