﻿@using System.Text.RegularExpressions;
@model MediaBoxViewModel
@{
    var caption = string.IsNullOrEmpty(Model.Title)
       ? Model.Caption
       : Model.Title;

    //hala bos ise id verelim
    if (string.IsNullOrEmpty(caption) || string.IsNullOrWhiteSpace(caption))
    {
        caption = $"{Model.Username}'s pin {Model.Id}";
        Model.Caption = caption;
    }

    if (Model.Avatar == "https://s.pinimg.com/images/user/default_75.png")
    {
        Model.Avatar = "/assets/img/default-75.png";
    }
}


@if (Model.Count % 2 == 0)
{
    <div class="timeline-row timeline-row-left">
        <div class="timeline-icon">
            <img src="" 
                 onerror="this.src = '/_assets/img/default.png';"
                 lazy-src="@Model.ImagePath"
                 alt="@Model.Username.AccountTitleFromUsername(Model.FullName)" 
                 title="@Model.Username.AccountTitleFromUsername(Model.FullName)"
            />
        </div>

        <div class="timeline-time">
            <a href="@Url.Action("Index","Account", new { username = Model.Username, userid = Model.UserId })/" title="@Model.Username.AccountTitleFromUsername(Model.FullName)">@Model.Username</a> added a new post
            <div class="text-muted">@Model.TimeAgo ago</div>
        </div>

        <div class="card">
            <div class="card-header header-elements-sm-inline">
                <h6 class="card-title">@Model.FullName</h6>
                <div class="header-elements">
                    <span><i class="icon-checkmark-circle mr-2 text-success"></i> @Model.TimeAgo ago</span>
                    <div class="list-icons ml-3">
                        <a href="#" class="list-icons-item" data-action="hide">
                            <i class="icon-arrow-up12"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-img-actions mb-3">
                    <img class="card-img img-fluid opener" src=""
                         onerror="this.src = '/_assets/img/default.png';"
                         lazy-src="@Model.ImagePath"
                         alt="@Model.Caption" 
                         title="@Model.Caption" 
                         data-id="@Model.Id" 
                         data-count="@Model.Count"
                    />
                    <div class="card-img-actions-overlay card-img">
                        <a href="@Url.Action("Media","Account", new { id = Model.Id })/" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <h6 class="mb-3">
                    <i class="icon-comment-discussion mr-2"></i>
                    @Model.FullName commented:
                </h6>

                <blockquote class="blockquote blockquote-bordered py-2 pl-3 mb-0">
                    <p class="mb-2 font-size-base">@Model.Caption</p>
                    <footer class="blockquote-footer">@Model.FullName, <cite title="Source Title">10:39 am</cite></footer>
                </blockquote>
            </div>

            <div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><p class="text-default"><i class="icon-pushpin mr-2"></i> @Model.RepinCount</p></li>
                    <li class="list-inline-item"><p class="text-default"><i class="icon-comment-discussion mr-2"></i> @Model.CommentCount</p></li>
                </ul>

                <a href="@Url.Action("Media","Account", new { id = Model.Id })/" class="d-inline-block text-default mt-2 mt-sm-0">Post Stats and Detail <i class="icon-arrow-right14 ml-2"></i></a>
            </div>
        </div>
    </div>
}
else
{
    <div class="timeline-row timeline-row-right">
        <div class="timeline-icon">
            <img src=""
                 onerror="this.src = '/_assets/img/default.png';"
                 lazy-src="@Model.ImagePath"
                 alt="@Model.Username.AccountTitleFromUsername(Model.FullName)"
                 title="@Model.Username.AccountTitleFromUsername(Model.FullName)" />
        </div>

        <div class="timeline-time">
            <a href="@Url.Action("Index","Account", new { username = Model.Username, userid = Model.UserId })/" title="@Model.Username.AccountTitleFromUsername(Model.FullName)">@Model.Username</a> added a new post
            <div class="text-muted">@Model.TimeAgo ago</div>
        </div>

        <div class="card">
            <div class="card-header header-elements-sm-inline">
                <h6 class="card-title">@Model.FullName</h6>
                <div class="header-elements">
                    <span><i class="icon-checkmark-circle mr-2 text-success"></i> @Model.TimeAgo ago</span>
                    <div class="list-icons ml-3">
                        <a href="#" class="list-icons-item" data-action="hide">
                            <i class="icon-arrow-up12"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-img-actions mb-3">
                    <img class="card-img img-fluid opener" src=""
                         onerror="this.src = '/_assets/img/default.png';"
                         lazy-src="@Model.ImagePath"
                         alt="@Model.Caption"
                         title="@Model.Caption"
                         data-id="@Model.Id"
                         data-count="@Model.Count" />
                    <div class="card-img-actions-overlay card-img">
                        <a href="@Url.Action("Media","Account", new { id = Model.Id })/" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>

                <h6 class="mb-3">
                    <i class="icon-comment-discussion mr-2"></i>
                    @Model.FullName commented:
                </h6>

                <blockquote class="blockquote blockquote-bordered py-2 pl-3 mb-0">
                    <p class="mb-2 font-size-base">@Model.Caption</p>
                    <footer class="blockquote-footer">@Model.FullName, <cite title="Source Title">10:39 am</cite></footer>
                </blockquote>
            </div>

            <div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><p class="text-default"><i class="icon-pushpin mr-2"></i> @Model.RepinCount</p></li>
                    <li class="list-inline-item"><p class="text-default"><i class="icon-comment-discussion mr-2"></i> @Model.CommentCount</p></li>
                </ul>

                <a href="@Url.Action("Media","Account", new { id = Model.Id })/" class="d-inline-block text-default mt-2 mt-sm-0">Post Stats and Detail <i class="icon-arrow-right14 ml-2"></i></a>
            </div>
        </div>
    </div>
}

