﻿@using System.Text.RegularExpressions;
@model MediaBoxViewModel
@{
    var caption = string.IsNullOrEmpty(Model.Title)
       ? Model.Caption
       : Model.Title;

    //hala bos ise id verelim
    if (string.IsNullOrEmpty(caption) || string.IsNullOrWhiteSpace(caption))
    {
        caption = $"{Model.Username}'s pin {Model.Id}";
        Model.Caption = caption;
    }

    if (Model.Avatar == "https://s.pinimg.com/images/user/default_75.png")
    {
        Model.Avatar = "/assets/img/default-75.png";
    }
}

<div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card">
        <div class="card-body p-0">
            <a href="@Url.Action("Media","Account", new { id = Model.Id })/" title="@Model.MediaTitle()">
                <img src=""
                     onerror="this.src = '/_assets/img/default.png';"
                     lazy-src="@Model.ImagePath"
                     class="w-100 rounded-top"
                     alt="@Model.Caption"
                     title="@Model.Caption" />
            </a>
            @{
                var text = Model.Caption.StripHtml().Replace("#", " #") + " ";
                var tags = Model.Caption.ToHashtags().OrderBy(x => Guid.NewGuid());
                int counter = 0;
            }
                
            @foreach (var tag in tags)
            {
                if (Model.TagsInPage.Contains(tag) || (!string.IsNullOrEmpty(Model.Tag) && tag == Model.Tag)) { continue; }

                counter += 1;

                var tagClear = tag.Replace("(", "")
                    .Replace(")", "")
                    .Replace("[", "")
                    .Replace("]", "");

                var url = $"/tag/{tagClear.ToLower()}/";
                var title = tagClear.HashtagTitle();
                var regexTag = new Regex($"#{tagClear} ", RegexOptions.IgnoreCase);

                text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>#{tagClear}</a> ", 1);

                Model.TagsInPage.Add(tagClear);

                if (counter > 3)
                {
                    break;
                }
            }

            <div class="media-desc p-3">
                <p class="m-0">@Html.Raw(text)</p>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p class="m-0">@Extensions.ToNiceNumber(Model.RepinCount) Repin</p>
            <p class="m-0">@Extensions.ToNiceNumber(Model.CommentCount) Comment</p>
        </div>
    </div>
</div>