﻿h1, h2 {
    word-break: break-word
}

#stickybar, .btn-group-justified, .img-circle-big, .img-circle-small, .nav-box, .btn, .navbar-large {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)
}

.btn-small, html {
    font-family: Montserrat,sans-serif
}
a, a:hover {
    text-decoration:none;
}
a:visited {
    color: #0000EE;
}

.btn, .btn:hover, .link,.text-unstyled, .url-unstyled {
    text-decoration: none
}

[class*=" ti-"], [class^=ti-], html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.img-circle-left, .img-circle-right {
    cursor: pointer;
    float: left
}

 html {
    font-weight: 400;
    font-size: 15px
}

nav ul {
    list-style: none
}

html {
    color: #394550;
    font-smooth: antialiased;
    text-rendering: optimizeLegibility
}

body {
    background: #eef2f7;
    margin: 0
}

ul {
    padding: 0 15px 15px
}

.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-40 {
    margin-top: 40px !important;
}
.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

p {
    word-wrap: break-word
}

.table-cell-fix {
    display: block;
    width: 130px
}

.div-relative {
    position: relative
}

.tag-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px
}

.grey-bg {
    background-color: #eff4f9
}

.img-circle-right {
    margin-left: 13px
}

.sub-title {
    line-height:24px;
    font-size:16px;
}


h1, h2 {
    font-weight: 400;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px
}

.tab {
    display: inline-block;
    margin-left: 40px
}

.url-title-sub, .url-unstyled, h1, h2 {
    display: block
}

h1 {
    font-size: 20px;
    line-height: 22px;
    font-weight:bold;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.strong {
    font-weight:bold !important;
}

.text-unstyled {
    font-weight: 400;
    font-size: 13px
}

.url-title-main {
    font-size: 14px;
    font-weight: 700;
    color: #546778;
    display: block;
    line-height: 14px;
    padding-top: 15px
}

.url-title-sub {
    font-size: 11px;
    color: #a0acb9;
    font-weight: 400;
    padding-top: 4px
}

.totop {
    position: fixed;
    right: 0;
    padding: 10px;
    width: 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    bottom: 10px
}

.img-circle-big {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 160px;
    height: 160px
}

.img-circle-small {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.no-spacing {
    padding: 0;
    margin: 0
}

.card-padding {
    padding: 12px
}

.card-title {
    font-size: 1em;
    line-height: 1.8em
}

.card-text {
    font-size: 14px
}

.table .btn {
    font-weight: 700
}

.link {
    color: #4e91e4;
    transition: all .3s
}

.btn, .btn-small {
    transition: opacity .3s;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center
}

.link:hover {
    cursor: pointer;
    color: #1b5eb1
}


.btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px
}

.btn-small {
    font-size: 12px;
    text-decoration: none
}

.btn:hover {
    opacity: .8
}

.btn.btn-primary {
    background-color: #4e91e4;
    color: #fff
}
.btn.btn-error {
    background-color: #ee675d;
    color: #fff
}

.btn.btn-light {
    background-color: #dde5ee;
    color: #546778
}
.btn.btn-blue {
    background-color: #4e91e4;
    color: #fff
}

.btn.btn-red {
    background-color: #ee675d;
    color: #fff
}

.btn.btn-orange {
    background-color: #f78055;
    color: #fff
}

.btn-small {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    border: 0;
    margin-top: 5px
}

.card-body:first-child, .card-footer:first-child, .card-header:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}


.sd-group::after, nav:after {
    content: "";
    clear: both
}
.sd-group-item,  nav ul, nav ul ul li, nav ul ul ul li {
    position: relative
}

.card {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    color: #000;
    font-size: 15px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2)
}

.card-body:last-child, .card-footer:last-child, .card-header:last-child {
    border-bottom: 2px solid #eef2f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.card-footer, .card-header {
    display: block;
    padding: 12px;
    background-color: #fff;
    overflow: auto
}

#stickybar, .table-cell {
    overflow: hidden;
    white-space: nowrap;
    padding-left:15px;
}

.card-body {
    display: block;
    background-color: #fff
}

.card-subtitle {
    display: block;
    font-size: 15px;
    color: #879aab;
    margin-bottom: 5px
}

.card-title + .card-subtitle {
    margin-top: -5px !important
}

.big-icon {
    font-size:50px;
}

nav ul li {
    float: left
}

.menu {
    margin-top: 0;
    padding: 0
}

.menu-group {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    transition: color .3s;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

    .menu-group:not(:first-child) {
        margin-top: 10px
    }

    .menu-group:hover {
        text-decoration: none !important;
        color: #879aab
    }

.menu-item {
    display: block;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: rgba(221,229,238,0);
    transition: all ease .3s;
    cursor: pointer
}

.table {
    display: table;
    width: 100%;
    font-size: 12px;
    color: #546778;
    border-collapse: collapse;
    border-width: 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.row {
    display: table-row;
    transition: all .3s;
    border-bottom: 1px solid #cacaca
}

    .row:last-child {
        border-bottom: 0
    }

.table-cell {
    display: table-cell;
    line-height: 22px;
    padding: 10px;
    transition: background-color .3s
}


.table-header {
    display: table-header-group;
    border-bottom: 3px solid #fff !important;
    font-weight: 700
}

.table-header .table-cell {
    background-color: #cbd8e6 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.table-body {
    display: table-row-group
}

    .table-body .table-cell {
        background-color: #f9f9f9;
    }


.sd-header {
    display: block;
    background-color: #1ba3b1;
    color: #fff;
}

.sd-group {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eef2f7
}

.sd-group-header {
    display: block;
    margin-bottom: 40px
}

.sd-group-header-title {
    font-size: 26px
}

.main-bg {
    background: url(/assets/img/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px
}

.centered {
    margin: 0 auto;
    text-align: center
}

.sd-group-item {
    display: inline-block;
    width: calc(33% - 30px);
    float: left;
    height: 140px;
    padding: 15px;
    text-decoration: none !important;
    color: #546778 !important;
    border-radius: 5px;
    transition: background-color .3s ease
}

nav, nav ul {
    padding: 0;
    margin: 0
}

.sd-group-item:hover {
    cursor: pointer;
    background-color: #fff
}

.sd-group::after {
    display: table
}

.toggle, [id^=drop], nav ul ul {
    display: none
}

.sd-group-item .title {
    font-size: 20px;
    font-weight: 700;
    color: #546778;
    margin-bottom: 5px
}
.sd-group-item .desc {
    line-height:23px;
}
.f-30 {
    font-size: 30px
}

.nav-icon {
    vertical-align: text-bottom
}

nav:after {
    display: table
}

.nav-box {
    border-top: 1px solid #3978c5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

nav ul li {
    margin: 0;
    display: inline-block;
    background-color: #1ba3b1;
}

nav a {
    display: block;
    padding: 0 20px;
    color: #dfe8f3 !important;
    line-height: 45px;
    text-decoration: none;
    font-size: 13px
}

    nav a:hover {
        color: #fff
    }

nav ul ul {
    position: absolute
}

nav ul li:hover > ul {
    display: inherit;
    z-index: 1
}

nav ul ul li {
    width: 210px;
    float: none;
    display: list-item
}

nav ul ul ul li {
    top: -60px;
    left: 170px
}

li > a:only-child:after {
    content: ''
}

@media all and (max-width :768px) {
    #logo, nav ul li {
        width: 100%
    }

    nav ul ul, nav ul ul ul li {
        position: static
    }

    #logo {
        display: block;
        padding: 0;
        text-align: center;
        float: none
    }

    nav {
        margin: 0;
        border: 1px solid #396dab;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px
    }

    .menu, .toggle + a {
        display: none
    }

    .toggle, [id^=drop]:checked + ul, nav ul li {
        display: block
    }

    .toggle {
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        margin-bottom: 10px
    }

    nav ul ul .toggle, nav ul ul a {
        padding: 0 40px
    }

    nav ul ul ul a {
        padding: 0 80px
    }

    nav a:hover, nav ul ul ul a {
        background-color: #4e91e4
    }

    nav ul li ul li .toggle, nav ul ul a {
        background-color: #1b5eb1;
        text-align: center;
        font-size: 12px
    }

    nav ul ul {
        float: none;
        color: #fff
    }

        nav ul li:hover > ul, nav ul ul li:hover > ul {
            display: none
        }

        nav ul ul li {
            display: block;
            width: 100%
        }
}

.navbar-subtitle, .navbar-title {
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    cursor: pointer;
    color:#fff;
}

.navbar--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px
}

.navbar-title {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    padding-left: 0;
    padding-right: 0;
    color: #fff
}

.navbar-subtitle {
    display: inline-block;
    font-size: 12px;
    opacity: .6
}

    .navbar-subtitle::before {
        display: inline-block;
        content: "";
        width: 2px;
        height: calc(34px - 10px);
        float: left;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 6px;
        opacity: .4
    }

.navbar-item, .navbar-link {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    transition: opacity .3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700
}

    .navbar-item:hover, .navbar-link:hover {
        opacity: 1
    }

.form-field {
    display: block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-top: 0
}

.form-field-label {
    display: block;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    color: #546778;
    margin-top: 0;
    margin-bottom: 5px
}


.form {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px
}

.form-title {
    display: block;
    width: 100%;
    vertical-align: top;
    font-weight: 700;
    font-size: 25px;
    color: #546778;
    margin-bottom: 10px
}

.input, .label {
    display: inline-block;
    vertical-align: top
}

.input {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #546778;
    border: 0;
    border-radius: 5px;
    outline: 0;
    background-color: #dde5ee;
    padding: 0 10px
}
.input--light {
    background-color: #fff
}

.label {
    min-height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #546778;
    font-weight: 700;
    padding-right: 10px;
    padding-left: 0
}


.overlay, .search-btn, .sticky {
    position: fixed
}

.grid {
    display: block;
    width: 100%
}

.grid-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

    .grid-row:after {
        content: " ";
        clear: both;
        display: table;
        line-height: 0
    }




.grid-col-1{width:calc(8.33% - 2 * 12px)}
.grid-col-2{width:calc(16.66% - 2 * 12px)}
.grid-col-3{width:calc(24.99% - 2 * 12px)}
.grid-col-4{width:calc(33.33% - 2 * 12px);margin-left:22px}
.grid-col-5{width:calc(41.66% - 2 * 12px)}
.grid-col-6{width:calc(49.99% - 2 * 12px)}
.grid-col-7{width:calc(58.33% - 2 * 12px)}
.grid-col-8{width:calc(66.66% - 2 * 12px)}
.grid-col-9{width:calc(74.99% - 2 * 12px)}
.grid-col-10{width:calc(83.33% - 2 * 12px)}
.grid-col-11{width:calc(91.66% - 2 * 12px)}
.grid-col-12{width:calc(99.99% - 2 * 12px)}
.grid-col{display:inline-block;vertical-align:top}

.jumbotron-detail, .jumbotron-subtitle, .jumbotron-title {
    display: block;
    text-decoration: none
}

.jumbotron-title {
    font-weight: 700;
    font-size: 40px
}

    .jumbotron-title h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px
    }

.jumbotron-subtitle {
    font-size: 18px;
    line-height: 20px;
    color: #a0acb9
}

.jumbotron-detail {
    line-height: 22px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px
}

.jumbotron-subtitle + .jumbotron-detail, .jumbotron-title + .jumbotron-detail
, .jumbotron-title + .jumbotron-subtitle {
    margin-top: 15px
}

.footer {
    display: block;
    padding-top: 50px;
    padding-bottom: 80px ;
    background-color: #434e58;
    color: #fff
}

.jumbotron {
    display: block;
    padding-top: 85px;
    padding-bottom: 85px
}

.navbar {
    display: block;
    z-index: 3;
    height: 34px;
    padding-top: 15px;
    padding-bottom: 15px
}

.content-lg {
    max-width: 960px;
    padding-left: calc(50% - 960px / 2);
    padding-right: calc(50% - 960px / 2)
}

.content-xl {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2)
}

.navbar-large {
    max-width: 1280px;
    padding-left: calc(50% - 1280px / 2);
    padding-right: calc(50% - 1280px / 2);
    position: relative
}

@media screen and (max-width:320px) {
    .navbar-subtitle {
        display: none
    }

    nav ul li {
        display: block
    }

    .table-cell {
        font-size: 11px;
        padding: 0
    }

    .btn {
        font-size: 13px
    }
}

@media screen and (max-width:480px) {
    .navbar-subtitle {
        display: none
    }

    .big-icon {
        width: 160px;
        display: block;
        padding-left: 20px;
        float: none
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 14px;
        line-height: 16px
    }
}

@media screen and (max-width:960px) {
  
    .grid-col-4 {
        margin: 0
    }

    .grid-col-6 {
        width: calc(100% - 2 * 12px);
        padding-left: 12px
    }

    .content-lg {
        width: 100%;
        padding-left: 12px
    }

    h1 {
        font-size: 20px;
        line-height: 22px
    }
}

@media screen and (max-width:1280px) {
    .content-xl {
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px
    }

    h1 {
        font-size: 20px;
        line-height: 22px
    }

    .navbar-large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
        z-index: 201;
    }
}

.grid-item.charts {
    width:33%;
}

@media (max-width:1280px) {
    .grid-col-xl-1{width:calc(8.33% - 2 * 12px)}
    .grid-col-xl-2{width:calc(16.66% - 2 * 12px)}
    .grid-col-xl-3{width:calc(24.99% - 2 * 12px)}
    .grid-col-xl-4{width:calc(33.33% - 2 * 12px)}
    .grid-col-xl-5{width:calc(41.66% - 2 * 12px)}
    .grid-col-xl-6{width:calc(49.99% - 2 * 12px)}
    .grid-col-xl-7{width:calc(58.33% - 2 * 12px)}
    .grid-col-xl-8{width:calc(66.66% - 2 * 12px)}
    .grid-col-xl-9{width:calc(74.99% - 2 * 12px)}
    .grid-col-xl-10{width:calc(83.33% - 2 * 12px)}
    .grid-col-xl-11{width:calc(91.66% - 2 * 12px)}
    .grid-col-xl-2{width:calc(99.99% - 2 * 12px)}
    .grid-col-xl-hide{display:none!important}

    .grid-item.charts {
        width: 33%;
    }
}

@media (max-width:960px) {
    .grid-col-lg-1{width:calc(8.33% - 2 * 12px)}
    .grid-col-lg-2{width:calc(16.66% - 2 * 12px)}
    .grid-col-lg-3{width:calc(24.99% - 2 * 12px)}
    .grid-col-lg-4{width:calc(33.33% - 2 * 12px)}
    .grid-col-lg-5{width:calc(41.66% - 2 * 12px)}
    .grid-col-lg-6{width:calc(49.99% - 2 * 12px)}
    .grid-col-lg-7{width:calc(58.33% - 2 * 12px)}
    .grid-col-lg-8{width:calc(66.66% - 2 * 12px)}
    .grid-col-lg-9{width:calc(74.99% - 2 * 12px)}
    .grid-col-lg-10{width:calc(83.33% - 2 * 12px)}
    .grid-col-lg-11{width:calc(91.66% - 2 * 12px)}
    .grid-col-lg-12{width:100%}
    .grid-col-lg-hide{display:none!important}

    .grid-item.charts {
        width: 33%;
    }
}

@media (max-width:768px) {
    .grid-col-md-1{width:calc(8.33% - 2 * 12px)}
    .grid-col-md-2{width:calc(16.66% - 2 * 12px)}
    .grid-col-md-3{width:calc(24.99% - 2 * 12px)}
    .grid-col-md-4{width:calc(33.33% - 2 * 12px)}
    .grid-col-md-5{width:calc(41.66% - 2 * 12px)}
    .grid-col-md-6{width:calc(49.99% - 2 * 12px)}
    .grid-col-md-7{width:calc(58.33% - 2 * 12px)}
    .grid-col-md-8{width:calc(66.66% - 2 * 12px)}
    .grid-col-md-9{width:calc(74.99% - 2 * 12px)}
    .grid-col-md-10{width:calc(83.33% - 2 * 12px)}
    .grid-col-md-11{width:calc(91.66% - 2 * 12px)}
    .grid-col-md-12{width:calc(99.99% - 2 * 12px)}
    .grid-col-md-hide{display:none!important}
    .sd-group-item{width:calc(100% - 30px)}

    .grid-item.charts {
        width: 100%;
    }
}

@media (max-width:600px) {
    .grid-col-sm-1{width:calc(8.33% - 2 * 12px)}
    .grid-col-sm-2{width:calc(16.66% - 2 * 12px)}
    .grid-col-sm-3{width:calc(24.99% - 2 * 12px)}
    .grid-col-sm-4{width:calc(33.33% - 2 * 12px)}
    .grid-col-sm-5{width:calc(41.66% - 2 * 12px)}
    .grid-col-sm-6{width:calc(49.99% - 2 * 12px)}
    .grid-col-sm-7{width:calc(58.33% - 2 * 12px)}
    .grid-col-sm-8{width:calc(66.66% - 2 * 12px)}
    .grid-col-sm-9{width:calc(74.99% - 2 * 12px)}
    .grid-col-sm-10{width:calc(83.33% - 2 * 12px)}
    .grid-col-sm-11{width:calc(91.66% - 2 * 12px); float:none !important;}
    .grid-col-sm-2{width:calc(99.99% - 2 * 12px)}
    .grid-col-sm-hide{display:none!important}

    .grid-item.charts {
        width: 100%;
    }
}

@media (max-width:480px) {
    .grid-col-xs-1{width:calc(8.33% - 2 * 12px)}
    .grid-col-xs-2{width:calc(16.66% - 2 * 12px)}
    .grid-col-xs-3{width:calc(24.99% - 2 * 12px)}
    .grid-col-xs-4{width:calc(33.33% - 2 * 12px)}
    .grid-col-xs-5{width:calc(41.66% - 2 * 12px)}
    .grid-col-xs-6{width:calc(49.99% - 2 * 12px)}
    .grid-col-xs-7{width:calc(58.33% - 2 * 12px)}
    .grid-col-xs-8{width:calc(66.66% - 2 * 12px)}
    .grid-col-xs-9{width:calc(74.99% - 2 * 12px)}
    .grid-col-xs-10{width:calc(83.33% - 2 * 12px)}
    .grid-col-xs-11{width:calc(91.66% - 2 * 12px)}
    .grid-col-xs-2{width:calc(99.99% - 2 * 12px)}
    .grid-col-xs-hide{display:none!important}

    .grid-item.charts {
        width: 100%;
    }
}


.c-primary{color:#4e91e4 !important;}
.c-success{color:#93d260 !important;}
.c-warning{color:#fbc850 !important;}
.c-error{color:#ee675d !important;}
.c-dark{color:#546778 !important;}
.c-yellow{color:#FFFF00 !important;}
.c-light{color:#a0acb9 !important;}
.c-white{color:#fff !important;}

.bg-primary{background-color:#4e91e4}
.bg-success{background-color:#93d260}
.bg-warning{background-color:#fbc850}
.bg-error{background-color:#ee675d}
.bg-dark{background-color:#546778}
.bg-light{background-color:#dde5ee}
.bg-white {background-color: #fff}


.share a, .share a:active, .share a:focus, .share a:hover {
    color: #fff !important
}

.f-left{float:left !important;}
.f-right{float:right !important;}
.f-none{float:none !important;}
.w-5{width:5% !important;}
.w-50{width:50% !important;}
.w-100{width:100% !important;}
.wh-100{width:100% !important;height:100% !important;}
.text-left{text-align:left!important;}
.pr-10 { padding-right:10px; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

    .btn-group-justified > .btn, .btn-group-justified > .btn-group {
        float: none;
        display: table-cell;
        width: 1%;
        text-decoration: none;
        padding-top: 14px
    }

.btn-block, .grid:after {
    display: block
}

.btn-block, .btn-group-justified > .btn-group .btn {
    width: 100%
}

.btn-group-justified > .btn-group .dropdown-menu {
    left: auto
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-group-sm > .btn, .btn-group-xs > .btn, .btn-sm, .btn-xs {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px
}

.btn-block + .btn-block {
    margin-top: 5px
}

.btn {
    height: 30px;
    padding: 5px 10px
}

.share {
    margin-bottom: 5px
}

.share a {
    font-size: 18px !important;
    border-radius: 0 !important;
    text-align: center
}

.btn-twitter {
    background: #63cdf1;
    transition: .2s;
    float: left
}

    .btn-twitter:hover {
        background: #21b9eb;
        transition: .2s
    }

.btn-facebook {
    background: #63cdf1;
    transition: .2s;
    float: left
}

    .btn-facebook:hover {
        background: #21b9eb;
        transition: .2s
    }

.btn-pinterest {
    background: #DB0813;
    transition: .2s;
    float: left
}

    .btn-pinterest:hover {
        background: #ee3939;
        transition: .2s
    }

.grid:after {
    content: '';
    clear: both
}

.grid-col {
    float: left;
    /*width: 49%;*/
    /*margin-right: 2%*/
}

.grid-col-4 {
    margin-right: 0
}

.grid-col-2, .grid-col-3 {
    display: none
}

@media (min-width:220px) {
    .grid-col-1 { display: block }
}

@media (min-width:768px) {
    .grid-col-2 { display: block }
}

@media (min-width:1200px) {
    .grid-col-2, .grid-col-3 { display: block }
}

.login,.overlay{display:none}
.grid-item {
    margin-bottom: 20px;
    text-align: left;
}
   

    .grid-item-tag {
        width: 32%;
        margin-right: 15px;
    }

#stickybar {
    background-color: #eef2f7;
    z-index: 100;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d5d9de;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    width: calc(100% - 10px);
    z-index: 201;
}

.sticky {
    top: 0;
    width: 100%
}

    .sticky + .content {
        padding-top: 60px
    }

.block {
    display:block;
}
.p-20 {
    padding: 20px;
}
.pt-5 {
    padding-top: 5px;
}

