﻿@model UserPinsViewModel
@{
    ViewBag.Title = Model.User.AccountTitle();
    ViewBag.Description = Model.User.AccountDescription();
    ViewBag.Robots = Model.Medias.Count < 5
        ? "noindex,follow"
        : "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Account", new { userId = Model.User.Id, userName = Model.User.Username }));

    var tagsInPage = new List<string>();

    if (Model.User.Avatar == "https://s.pinimg.com/images/user/default_75.png")
    {
        Model.User.Avatar = "/assets/img/default-75.png";
    }
}
<div class="content-xl grid">
    <div class="centered mt-20">
        <h1 class="mb-40">@Model.User.AccountTitle()</h1>
    </div>
    <div class="grid-row mb-20">
        <div class="grid-col grid-col-6 centered mb-20">
            <img class="img-circle-big" src="@Model.User.Avatar.Replace("75x75_RS","280x280_RS")" onerror="imgError(this);"
                 alt="@Model.User.AccountAvatarTitle()" title="@Model.User.AccountAvatarTitle()">
            <div class="mt-10 mb-10"><strong>@Model.User.FullName</strong></div>
            <div class="c-light">@@@Model.User.Username</div>
            <div class="mt-10 mb-10 sub-title px-20">@Html.Raw(Model.User.AccountSubTitle()) @Model.User.About</div>
            @if (!string.IsNullOrEmpty(Model.User.Website))
            {
                <div>@Model.User.Website</div>
            }
            <div class="mt-10">
                <a class="c-dark btn btn-error" href="/report-a-violation/">Report a problem</a>
            </div>
        </div>
        <div class="grid-col grid-col-6">
            <h3 class="mb-20">@Model.User.Username's Pinterest Statistics</h3>
            <div class="table table-striped">
                <div class="table-body">
                    <div class="row table-row-fix">
                        <div class="table-cell table-cell-fix strong">Full Name</div>
                        <div class="table-cell">@Model.User.FullName</div>
                    </div>
                    <div class="row table-row-fix">
                        <div class="table-cell strong">User Name</div>
                        <div class="table-cell">@Model.User.FullName</div>
                    </div>
                    <div class="row table-row-fix">
                        <div class="table-cell w280 strong">Created At</div>
                        <div class="table-cell">@Model.User.CreatedAt</div>
                    </div>
                    <div class="row">
                        <div class="table-cell w280 strong">Location</div>
                        <div class="table-cell">@Model.User.Location</div>
                    </div>
                    <div class="row">
                        <div class="table-cell strong">Followers / Following</div>
                        <div class="table-cell">@Model.User.FollowerCount.ToNiceNumber() - @Model.User.FollowingCount.ToNiceNumber()</div>
                    </div>

                    <div class="row ">
                        <div class="table-cell strong">Board Count</div>
                        <div class="table-cell">@Model.User.BoardCount</div>
                    </div>
                    <div class="row ">
                        <div class="table-cell strong">Pin Count</div>
                        <div class="table-cell">@Model.User.PinCount.ToFormattedInt()</div>
                    </div>
                    @if (Model.User.LastPinLikeTime.Year != 1)
                    {
                        <div class="row">
                            <div class="table-cell strong">Last Pin Like Time</div>
                            <div class="table-cell">@Model.User.LastPinLikeTime.ToShortDateString()</div>
                        </div>
                    }
                    <div class="row">
                        <div class="table-cell strong">Last Pin Save Time</div>
                        <div class="table-cell">@Model.User.LastPinSaveTime.ToShortDateString()</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-xl grid">
    <div class="grid-row grid gallery centered" data-colcade="columns: .grid-col, items: .grid-item">
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        @if (Model.Logs != null && Model.Logs.Count > 3)
        {
            <div class="grid-item charts">
                <div id="chartFollowers"></div>
            </div>
            <div class="grid-item charts">
                <div id="chartFollowings"></div>
            </div>
            <div class="grid-item charts">
                <div id="chartPins"></div>
            </div>
        }

        @foreach (var item in Model.Medias)
        {
            item.HasUserLink = false;
            item.TagsInPage = tagsInPage;

            @Html.Partial("_mediaBox", item)
        }
    </div>
</div>
@if (Model.Logs != null && Model.Logs.Count > 3)
{
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
    <script>
        @{ var labels = string.Join(",", Model.Logs.Select(x => $"'{x.Date.ToString("dd/MM/yyyy")}'")); }

        new frappe.Chart("#chartFollowers", {
            title: "Followers",
            data: {
            labels: [@Html.Raw(labels)],
            datasets: [
                    {
                        type: "bar",
                        values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Followers.ToString().Replace(",","."))))]
                    }
                ]
            },
            lineOptions: {
                dotSize: 3 // default: 4
            },
            type: 'axis-mixed',
            height: 250,
            colors: ['#7cd6fd']
        });
        new frappe.Chart("#chartFollowings", {
            title: "Followings",
            data: {
            labels: [@Html.Raw(labels)],
            datasets: [
                    {
                        type: "bar",
                        values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Followings.ToString().Replace(",","."))))]
                    }
                ]
            },
            lineOptions: {
                dotSize: 3 // default: 4
            },
            type: 'axis-mixed',
            height: 250,
            colors: ['#ffa00a']
        });
        new frappe.Chart("#chartPins", {
            title: "Pins",
            data: {
            labels: [@Html.Raw(labels)],
            datasets: [
                    {
                        type: "bar",
                        values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Pins.ToString().Replace(",","."))))]
                    }
                ]
            },
            lineOptions: {
                dotSize: 3 // default: 4
            },
            type: 'axis-mixed',
            height: 250,
            colors: ['#743ee2']
        });
    </script>
}
