﻿@model PinViewModel
@{
    ViewBag.Title = Model.Media.MediaTitle();
    ViewBag.Description = Model.Media.MediaDescription();
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Media", "Account", new { id = Model.Media.Id }));

    var tags = Model.Media.Caption.ToHashtags();
    var tagsInPage = new List<string>();
}
<div class="content-xl grid">
    @if (Request.Browser.IsMobileDevice)
    {
        @Html.Partial("~/views/Ads/responsive.cshtml")
    }
    <div class="grid-row mt-20">
        <div class="grid-col grid-col-8 grid-col-lg-12">
            <div class="grid-item">
                <div class="card">
                    <div class="card-header">
                        <a class="url-unstyled"
                           href="@Url.Action("Index", "Account", new { username = Model.User.Username, userid = Model.User.Id })/"
                           title="@Model.User.AccountTitle()">
                            <img class="img-circle-small img-circle-left" src="@Model.User.Avatar"
                                 alt="@Model.User.AccountAvatarTitle()"
                                 title="@Model.User.AccountAvatarTitle()" />
                        </a>
                        <div class="img-circle-right">
                            <a class="strong block pt-5"
                               href="@Url.Action("Index", "Account", new { username = Model.User.Username, userid = Model.User.Id })/"
                               title="@Model.User.AccountTitle()">
                                @Model.User.FullName
                            </a>
                            <span class="pt-5 block">@Model.User.Username</span>
                        </div>
                    </div>
                    <div class="card-body div-relative">
                        <div class="pt-10">
                            <h1 class="centered">@Model.Media.MediaTitle()</h1>
                        </div>
                        <img class="wh-100 mt-10" src="@Model.Media.ImagePath" alt="@Model.Media.Title" title="@Model.Media.Title" />
                        <div class="btn-group btn-group-justified share" role="group" aria-label="...">
                            @{
                                var url = "https://sosyol.com" + Url.Action("Media", "Account", new { id = Model.Media.Id }) + "/";
                            }
                            <a href="http://pinterest.com/pin/create/link/?url=@url&media=@Model.Media.ImagePath&description=@Model.Media.Caption" target="_blank" class="btn btn-pinterest url-unstyled"><i class="fab fa-pinterest-square"></i></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u =@url &t=@Model.Media.Caption" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="btn btn-facebook url-unstyled"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://twitter.com/share?url=@url&text=@Model.Media.Caption" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="btn btn-twitter url-unstyled"><i class="fab fa-twitter-square"></i></a>
                        </div>
                        <div class="card-padding">
                            <p class="card-title">@Model.Media.Caption</p>
                        </div>
                    </div>
                    <div class="card-footer centered">
                        <div class="f-left">
                            <i class="fas fa-clock"></i> @Model.Media.TimeAgo
                            <i class="fas fa-redo pl-10"></i> @Model.Media.RepinCount
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Media.Link))
                        {
                            <div class="f-right">
                                <a target="_blank" href="@Model.Media.Link" class="c-dark">
                                    Go To Source <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-col grid-col-4 grid-col-lg-12">
            <div class="grid-item">
                <div class="card">
                    <div class="card-body">
                        <div class="table table-striped">
                            <div class="table-body">
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Is Repin</div>
                                    <div class="table-cell">@Model.Media.IsRepin</div>
                                </div>
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Repin Count</div>
                                    <div class="table-cell">@Model.Media.RepinCount</div>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Media.Category))
                                {
                                    <div class="row table-row-fix">
                                        <div class="table-cell table-cell-fix strong">Category</div>
                                        <div class="table-cell">
                                            <a href="@Url.Action("Index","Hashtag", new { tag = Model.Media.Category.Replace("_","-") })/"
                                               title="@Model.Media.Category.Replace("_"," ").HashtagTitle()">
                                                @Model.Media.Category.Replace("_", " ")
                                            </a>
                                        </div>
                                    </div>
                                }
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Created At</div>
                                    <div class="table-cell">@Model.Media.Created</div>
                                </div>
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Pinner User Name</div>
                                    <div class="table-cell">@Model.User.Username</div>
                                </div>
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Pinner Full Name</div>
                                    <div class="table-cell">@Model.User.FullName</div>
                                </div>
                                <div class="row table-row-fix">
                                    <div class="table-cell table-cell-fix strong">Comment Count</div>
                                    <div class="table-cell">@Model.Media.CommentCount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (tags.Count > 0)
                {
                    <h3>Hashtag Suggestions</h3>
                    <div class="centered mt-40">
                        @foreach (var str in tags)
                        {
                            <a class="c-dark btn" href="@Url.Action("Index","Hashtag", new { tag = str.ToSlug() })/" title="@str.HashtagTitle()">
                                @str
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="content-xl grid">
    <h3>Related Medias</h3>
    <div class="grid-row grid gallery centered" data-colcade="columns: .grid-col, items: .grid-item">
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        @foreach (var item in Model.RelatedMedias)
        {
            item.TagsInPage = tagsInPage;

            @Html.Partial("_mediaBox", item)
        }
    </div>
</div>

@section scripts
{
    @if (Request.Browser.IsMobileDevice && !HttpHelper.IsTablet())
    {
        @Html.Partial("~/views/Ads/trick_ads.cshtml")
    }
}