﻿@{
    ViewBag.Title = "Pinterest's Most Followed 15 Accounts";
    ViewBag.Description = "List of Pinterest's Most Popular Accounts based on Follower and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top15Accounts", "Account"));
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mb-10 mt-20">Pinterest's Most Followed 15 Accounts</h1>
            <p>List of Pinterest's Most Popular Accounts based on Follower and Image Counts. 
            This list is periodically update by automatically, please come and check again.</p>
            <div class="table table-striped mt-10">
                <div class="table-header">
                    <div class="row">
                        <div class="table-cell centered">#</div>
                        <div class="table-cell">User Name</div>
                        <div class="table-cell">Followers</div>
                    </div>
                </div>
                <div class="table-body">
                    @{ 
                        int counter = 1;
                    }
                    @foreach (var user in CacheHelper.PopularUsers)
                    {
                        <div class="row">
                            <div class="table-cell centered">@counter</div>
                            <div class="table-cell strong">
                                <a href="@Url.Action("Index","Account", new { userId = user.UserId, userName = user.Username })/" 
                                   title="@user.Username.AccountTitleFromUsername(user.FullName)">@user.FullName</a>
                            </div>
                            <div class="table-cell">@user.Followers.ToNiceNumber()</div>
                        </div>

                        counter += 1;
                    }
                </div>
            </div>
        </div>
    </div>
</div>
