﻿@{
    ViewBag.Title = "Compare Two or More Pinterest Accounts";
    ViewBag.Description = "Compare two or more pinterest accounts to list numbers, metrics and differences between.";
    ViewBag.Robots = "noindex,nofollow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Compare", "Account"));
}
<div class="content-lg grid mt-20">
    <div class="grid-row">
        <div class="grid-col grid-col-12">
            <h1 class="centered mt-20">Compare Two or More Pinterest Accounts</h1>
            <h2 class="c-light centered mt-20 mb-20">
                Compare two or more pinterest accounts to list numbers, metrics and differences between. 
                Write at least two pinterest username to textboxes and click Compare Accounts button.
            </h2>
            <form class="form mt-10 mb-20" method="post">
                <div class="form">
                    <div class="grid-row centered">
                        <div class="grid-col grid-col-4 grid-col-sm-12 grid-col-xs-12">
                            <label for="Username1" class="label">Account #1</label>
                            <input type="text" class="input form-control" name="Username1"
                                   placeholder="Write Username1..." required>
                        </div>
                        <div class="grid-col grid-col-4 grid-col-sm-12 grid-col-xs-12">
                            <label for="Username2" class="label">Account #2</label>
                            <input type="text" class="input form-control" iname="Username2"
                                   placeholder="Write Username2..." required>
                        </div>
                        <div class="grid-col grid-col-4 grid-col-sm-12 grid-col-xs-12 ">
                            <a class="btn btn-primary" href="#">Compare Accounts</a>
                        </div>
                    </div>
                </div>
                <div class="mb-40"></div>
            </form>
        </div>
    </div>
</div>

