﻿@model UserPinsViewModel
@{
    ViewBag.Title = Model.User.AccountTitle();
    ViewBag.Description = Model.User.AccountDescription();
    ViewBag.Robots = Model.Medias.Count < 5
        ? "noindex,follow"
        : "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Account", new { userId = Model.User.Id, userName = Model.User.Username }));

    var tagsInPage = new List<string>();

    if (Model.User.Avatar == "https://s.pinimg.com/images/user/default_75.png")
    {
        Model.User.Avatar = "/assets/img/default-75.png";
    }

    var lastFollowers = 0;
    var lastFollowings = 0;
    var lastPins = 0;
    double qnFollowings = 0;
    double qnFollower = 0;
    double qnPins = 0;
    bool isBadge = false;

    if (Model.User.FollowerCount >= 100000) { isBadge = true; }
    if (!string.IsNullOrEmpty(Model.User.Location)) { isBadge = true; }
    if (Model.User.BoardCount >= 25) { isBadge = true; }
    if (Model.User.PinCount >= 10000) { isBadge = true; }

    if (Model.Logs != null && Model.Logs.Count > 3)
    {
        lastFollowers = Model.Logs.LastOrDefault().Followers;
        lastFollowings = Model.Logs.LastOrDefault().Followings;
        lastPins = Model.Logs.LastOrDefault().Pins;
    }
}

<div class="container-fluid bg-white p-0">
    @if (!string.IsNullOrEmpty(Model.Banner))
    {
        <div class="bgimages" style="background:url('@Html.Raw(Model.Banner)');">
            <div class="overlay"></div>
        </div>
    }
    else
    {
        <div class="bgimages">
            <div class="overlay"></div>
        </div>
    }

    <div class="container profileLine">
        <div class="content">
            <div class="profile-photo">
                <img src="@Model.User.Avatar.Replace("75x75_RS","280x280_RS")"
                     onerror="this.src = '/_assets/img/default.png';"
                     class="rounded-circle"
                     width="150" height="150"
                     alt="@Model.User.AccountAvatarTitle()"
                     title="@Model.User.AccountAvatarTitle()" />
            </div>
            <div class="inner-content">
                <div class="name">
                    <h2>@Model.User.FullName (@@@Model.User.Username)<i class="icon-shield-check ml-2"></i></h2>
                </div>
                <div class="usermeta">
                    <ul>
                        @if (!string.IsNullOrEmpty(Model.User.Location))
                        {
                            <li><a href="@Url.Action("Index","Country", new { slug = Model.User.Location.ToSlug() })/" title="@Model.User.Location Popular Accounts"><i class="icon-location4 mr-2"></i><span>@Model.User.Location</span></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.User.Website))
                        {
                            <li><a href="@Model.User.Website" target="_blank" rel="nofollow"><i class="icon-link mr-2"></i><span>Website</span></a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="header-content d-flex justify-content-between">
            <ul>
                <li class="mr-3"><a href="#" class="badge bg-brown-400 text-white"><i class="icon-instagram"></i></a></li>
                <li class="mr-3"><a href="#" class="badge bg-primary-400 text-white"><i class="icon-twitter"></i></a></li>
                <li class="mr-3"><a href="#" class="badge bg-primary-800 text-white"><i class="icon-facebook"></i></a></li>
            </ul>
            <ul>
                <li>
                    <p>@Model.User.PinCount.ToFormattedInt()</p>
                    <p>Posts</p>
                </li>
                <li>
                    <p>@Model.User.FollowerCount.ToFormattedInt()</p>
                    <p>Followers</p>
                </li>
                <li>
                    <p>@Model.User.FollowingCount.ToFormattedInt()</p>
                    <p>Followings</p>
                </li>
            </ul>
        </div>
    </div>

</div>

@if (!string.IsNullOrEmpty(Model.User.Location))
{
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 rankcard">
                <div class="card card-body">
                    <div class="media align-items-center align-items-md-start flex-column flex-md-row">
                        <a href="@Url.Action("All","Country")/" class="mr-md-3 mt-1 mb-3 mb-md-0">
                            <i class="icon-earth text-gray-400 border-gray border border-2 rounded-circle p-2"></i>
                        </a>
                        <div class="media-body text-center text-md-left">
                            <h6 class="media-title">Global Location Rank</h6>
                            World Wide Rank
                        </div>
                        <span class="ml-md-3 mt-3 mt-md-0 globalRank">Calc...</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 rankcard">
                <div class="card card-body">
                    <div class="media align-items-center align-items-md-start flex-column flex-md-row">
                        <a href="@Url.Action("Index","Country", new { slug = Model.User.Location.ToSlug() })/" class="mr-md-3 mt-1 mb-3 mb-md-0">
                            <i class="icon-earth text-gray-400 border-gray border border-2 rounded-circle p-2"></i>
                        </a>
                        <div class="media-body text-center text-md-left">
                            <h6 class="media-title">Location Rank</h6>
                            @Model.User.Location
                        </div>
                        <span class="ml-md-3 mt-3 mt-md-0">@Model.LocationRank</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


<div class="container mt-5">
    <div class="row">
        <h1 class="h4 px-3">@Model.User.AccountSubTitle()</h1>
        @*<div class="col-lg-12 col-md-12 col-sm-12">
                <div class="media">
                    <img src="@Model.User.Avatar.Replace("75x75_RS","280x280_RS")"
                         onerror="this.src = '/_assets/img/default.png';"
                         class="mr-3 rounded-circle"
                         alt="@Model.User.AccountAvatarTitle()"
                         title="@Model.User.AccountAvatarTitle()"
                         width="160" height="160" />
                    <div class="media-body">
                        <p class="mt-0">
                            @@@Model.User.Username
                            @if (!string.IsNullOrEmpty(Model.User.Location))
                            {
                                <a href="@Url.Action("Index","Country", new { slug = Model.User.Location.ToSlug() })/" title="@Model.User.Location Popular Accounts"><i class="icon-location4"></i> @Model.User.Location</a>
                            }
                        </p>
                        <h5 class="h3">@Model.User.FullName</h5>
                        <div class="mt-2 mb-2 sub-title px-2">@Html.Raw(Model.User.AccountSubTitle()) @Model.User.About</div>
                        @if (!string.IsNullOrEmpty(Model.User.Website))
                        {
                            <a href="@Model.User.Website" target="_blank" rel="nofollow">@Model.User.Website</a>
                        }
                    </div>
                </div>
            </div>*@

        <div class="col-lg-12 col-md-12">
            <div class="row mt-2 usercols">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Full Name</p>
                            <p>@Model.User.FullName</p>
                            <i class="icon-person"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>User Name</p>
                            <p>@Model.User.Username</p>
                            <i class="icon-person"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Created At</p>
                            <p>@Model.User.CreatedAt</p>
                            <i class="icon-alarm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Last Pin Save Time</p>
                            <p>@Model.User.LastPinSaveTime.ToShortDateString()</p>
                            <i class="icon-sort-time-asc"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Follower Count</p>
                            @if (lastFollowers > 0)
                            {
                                var gainFollower = 0;
                                if (Model.Logs.LastOrDefault().Followers > Model.User.FollowerCount)
                                {
                                    gainFollower = Model.Logs.LastOrDefault().Followers - Model.User.FollowerCount;
                                }
                                else
                                {
                                    gainFollower = Model.User.FollowerCount - Model.Logs.LastOrDefault().Followers;
                                }

                                if (gainFollower == 0)
                                {
                                    <p><span>@Model.User.FollowerCount.ToFormattedInt()</span> @Html.Raw("<small class='font-weight-bold text-secondary'>" + gainFollower.ToFormattedInt() + "</small>")</p>
                                }
                                else
                                {
                                    qnFollower = 100 * (Model.User.FollowerCount - Model.Logs.FirstOrDefault().Followers);
                                    qnFollower = qnFollower / Model.User.FollowerCount;
                                    qnFollower = Math.Round(qnFollower, 2);
                                    <p>
                                        <span>@Model.User.FollowerCount.ToFormattedInt() </span> @Html.Raw(lastFollowers > Model.User.FollowerCount
? "<span class='icon-stats-decline2 mx-1 text-danger'></span><small class='font-weight-bold'>" + gainFollower.ToFormattedInt() + "</small>"
: "<span class='icon-stats-growth2 mx-1 text-success'></span><small>+" + gainFollower.ToFormattedInt() + " (%" + qnFollower + ")</small>")
                                    </p>
                                }
                            }
                            else
                            {
                                <p>@Model.User.FollowerCount.ToFormattedInt()</p>
                            }
                            <i class="icon-users4"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Following Count</p>
                            @if (lastFollowings > 0)
                            {
                                var gainFollowings = 0;
                                if (Model.Logs.LastOrDefault().Followings > Model.User.FollowingCount)
                                {
                                    gainFollowings = Model.Logs.LastOrDefault().Followings - Model.User.FollowingCount;
                                }
                                else
                                {
                                    gainFollowings = Model.User.FollowingCount - Model.Logs.LastOrDefault().Followings;
                                }

                                if (gainFollowings == 0)
                                {
                                    <p><span>@Model.User.FollowingCount.ToFormattedInt()</span> @Html.Raw("<small class='font-weight-bold text-secondary'>" + gainFollowings.ToFormattedInt() + "</small>")</p>
                                }
                                else
                                {
                                    qnFollowings = 100 * (Model.User.FollowingCount - Model.Logs.FirstOrDefault().Followings);
                                    qnFollowings = qnFollowings / Model.User.FollowingCount;
                                    qnFollowings = Math.Round(qnFollowings, 2);
                                    <p>
                                        <span>@Model.User.FollowingCount.ToFormattedInt()</span> @Html.Raw(lastFollowings > Model.User.FollowingCount
? "<span class='icon-stats-decline2 mx-1 text-danger'></span><small>" + gainFollowings.ToFormattedInt() + "</small>"
: "<span class='icon-stats-growth2 mx-1 text-success'></span><small>+" + gainFollowings.ToFormattedInt() + " (%" + qnFollowings + ")</small>")
                                    </p>
                                }
                            }
                            else
                            {
                                <p>@Model.User.FollowingCount.ToFormattedInt()</p>
                            }
                            <i class="icon-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Board Count</p>
                            <p>@Model.User.BoardCount</p>
                            <i class="icon-clipboard"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                    <div class="card shadow">
                        <div class="card-body p-2">
                            <p>Pin Count</p>
                            @if (lastPins > 0)
                            {
                                var gainPins = 0;
                                if (Model.Logs.LastOrDefault().Pins > Model.User.PinCount)
                                {
                                    gainPins = Model.Logs.LastOrDefault().Pins - Model.User.PinCount;
                                }
                                else
                                {
                                    gainPins = Model.User.PinCount - Model.Logs.LastOrDefault().Pins;
                                }

                                if (gainPins == 0)
                                {
                                    <p><span>@Model.User.PinCount.ToFormattedInt()</span> @Html.Raw("<small class='font-weight-bold text-secondary'>" + gainPins.ToFormattedInt() + "</small>")</p>
                                }
                                else
                                {
                                    qnPins = 100 * (Model.User.PinCount - Model.Logs.FirstOrDefault().Pins);
                                    qnPins = qnPins / Model.User.PinCount;
                                    qnPins = Math.Round(qnPins, 2);
                                    <p>
                                        <span>@Model.User.PinCount.ToFormattedInt()</span> @Html.Raw(lastPins > Model.User.PinCount
? "<span class='icon-stats-decline2 mx-1 text-danger'></span><small>" + gainPins.ToFormattedInt() + "</small>"
: "<span class='icon-stats-growth2 mx-1 text-success'></span><small>+" + gainPins.ToFormattedInt() + " (%" + qnPins + ")</small>")
                                    </p>
                                }
                            }
                            else
                            {
                                <p>@Model.User.PinCount.ToFormattedInt()</p>
                            }
                            <i class="icon-pin"></i>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.User.Location))
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 stat">
                        <div class="card shadow">
                            <div class="card-body p-2">
                                <p>Location</p>
                                <p>@Model.User.Location</p>
                                <i class="icon-earth"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-2">
    <div class="row">
        @if (isBadge)
        {
            <div class="col-lg-6 mb-3">
                <div class="card badge-card">
                    <div class="card-body">
                        <p class="m-0">User Badges</p>
                    </div>
                    <div class="container-fluid pb-3">
                        @if (Model.User.FollowerCount >= 1000000)
                        {
                            <div class="badge-container">
                                <small>+1M Followers</small>
                                <img src="https://olympus.crumina.net/wp-content/uploads/2019/03/11.png"
                                     width="55" height="55"
                                     alt=""
                                     title="" />
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.User.Location))
                        {
                            <div class="badge-container">
                                <small>Location</small>
                                <img src="https://olympus.crumina.net/wp-content/uploads/2019/03/badge5.png"
                                     width="55" height="55"
                                     alt=""
                                     title="" />
                            </div>
                        }

                        @if (Model.User.BoardCount >= 25)
                        {
                            <div class="badge-container">
                                <small>+25 Board</small>
                                <img src="https://olympus.crumina.net/wp-content/uploads/2019/03/badge4.png"
                                     width="55" height="55"
                                     alt=""
                                     title="" />
                            </div>
                        }

                        @if (Model.User.PinCount >= 10000)
                        {
                            <div class="badge-container">
                                <small>+10K Posts</small>
                                <img src="https://olympus.crumina.net/wp-content/uploads/2019/03/badge2.png"
                                     width="55" height="55"
                                     alt=""
                                     title="" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.Logs != null && Model.Logs.Count > 3)
        {
            <div class="col-lg-6 mb-3">
                <div class="card bg-danger-400 text-white">
                    <div class="card-body pb-1">
                        <div class="d-flex">
                            <h3 class="font-weight-semibold mb-0">@Model.User.FollowerCount.ToFormattedInt()</h3>
                            <span class="badge bg-danger-800 badge-pill align-self-center ml-auto">% @qnFollower</span>
                        </div>
                        <p class="m-0">Historical Follower Changes</p>
                    </div>

                    <div class="container-fluid">
                        <div id="chartFollowers"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card bg-success-400 text-white">
                    <div class="card-body pb-1">
                        <div class="d-flex">
                            <h3 class="font-weight-semibold mb-0">@Model.User.FollowingCount.ToFormattedInt()</h3>
                            <span class="badge bg-success-800 badge-pill align-self-center ml-auto">% @qnFollowings</span>
                        </div>
                        <p class="m-0">Historical Following Changes</p>
                    </div>

                    <div class="container-fluid">
                        <div id="chartFollowings"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card bg-primary-400 text-white">
                    <div class="card-body pb-1">
                        <div class="d-flex">
                            <h3 class="font-weight-semibold mb-0">@Model.User.PinCount.ToFormattedInt()</h3>
                            <span class="badge bg-primary-800 badge-pill align-self-center ml-auto">% @qnPins</span>
                        </div>
                        <p class="m-0">Historical Pin Changes</p>
                    </div>

                    <div class="container-fluid">
                        <div id="chartPins" class="text-white"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="container mt-5">
    <div class="row medias">
        <div class="timeline timeline-center w-100">
            <div class="timeline-container">
                @{ var counter = 0;}
                @foreach (var item in Model.Medias)
                {
                    item.HasUserLink = false;
                    item.TagsInPage = tagsInPage;

                    item.Count = counter;

                    @Html.Partial("_media", item)
                    counter++;
                }
            </div>
        </div>
    </div>
</div>


<div class="image-opener">
    <div class="gallery">
        <span class="close"><i class="icon-close2"></i></span>
        <span class="left"><i class="icon-circle-left2"></i></span>
        <span class="right"><i class="icon-circle-right2"></i></span>
        <div class="gallery-image">
            <img src="" data-count="" alt="">
        </div>
    </div>
</div>

@section scripts{
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script>
        $(document).ready(function () {

            if ('IntersectionObserver' in window) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                }

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('.timeline-container img');
                images.forEach(img => observer.observe(img));
            }

            $("body").on("click", "a[data-action='hide']", hideCard);
            $("body").on("click", ".opener", openModal);
            $("body").on("click", ".close > i", closeModal);
            $("body").on("click", ".right > i", nextPhoto);
            $("body").on("click", ".left > i", prevPhoto);

            function hideCard() {

                var body = $(this)[0].parentNode.parentNode.parentNode.parentNode;
                var find = $(body).find(".card-body")[0].style.display;
                if(find == "none")
                {
                    $(body).find(".card-body").css("display", "block");
                    $(this).html("<i class='icon-arrow-up12'></i>");
                    event.preventDefault();
                }
                else{
                    $(body).find(".card-body").css("display", "none");
                    $(this).html("<i class='icon-arrow-down12'></i>");
                    event.preventDefault();
                }
            };

            function openModal(){
                var image = $(this).attr("src");
                var count = $(this).attr("data-count");
                var id = $(this).attr("data-id");
                $(".image-opener > .gallery > .gallery-image > img").attr("src",image);
                $(".image-opener > .gallery > .gallery-image > img").attr("data-count",count);
                $(".image-opener").css("display", "inline-flex");
                ChangeUrl('Pagex1', '/image/'+id+'/');
            }


            function closeModal(){
                $(".image-opener").css("display", "none");
                ChangeUrl('Pagex1', '/account/@Model.User.Username/@Model.User.Id/');
            }

            $(".image-opener").mouseup(e => {
                var opener = $('.gallery');
                if (!opener.is(e.target)
                && opener.has(e.target).length === 0)
                {
                    $(".image-opener").css("display", "none");
                    ChangeUrl('Pagex1', '/account/@Model.User.Username/@Model.User.Id/');
               }
            });

            function nextPhoto(){
                var imgs = $('.card-body').find("img");
                var currentImage = $(".image-opener > .gallery > .gallery-image > img").attr("data-count");
                if(currentImage < imgs.length)
                {
                    currentImage++;
                    var next = $(imgs[currentImage]).attr("src");
                    if (next === "/_assets/img/default.png") {
                        next = $(imgs[currentImage]).attr("lazy-src");
                    }
                    var nextid = $(imgs[currentImage]).attr("data-id");
                    $(".image-opener > .gallery > .gallery-image > img").attr("src",next);
                    $(".image-opener > .gallery > .gallery-image > img").attr("data-count",currentImage);
                    ChangeUrl('Page1x', '/image/'+nextid+'/');
                }
                else{
                    return false;
                }
            }

            $(document).keydown(function(e) {
                var opener = $(".image-opener")[0].style.cssText;
                if(opener === "display: inline-flex;"){
                    switch(e.which) {
                        case 37: // left
                        prevPhoto();
                        break;
                        case 39: // right
                        nextPhoto();
                        break;
                        default: return;
                    }
                }
                else{
                    return;
                }
            });

            function ChangeUrl(title, url) {
                if (typeof (history.pushState) != "undefined") {
                    var obj = { Title: title, Url: url };
                    history.pushState(obj, obj.Title, obj.Url);
                    @if (!Request.IsLocal)
                    {
                        <text>
                            //Send Analytics
                            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
                            ga('create', 'UA-122389622-2', 'auto');
                            ga('send', 'pageview', url);
                        </text>
                    }
                } else {
                    alert("Browser does not support HTML5.");
                }
            }

            function prevPhoto(){
                var imgs = $('.card-body').find("img");
                var currentImage = $(".image-opener > .gallery > .gallery-image > img").attr("data-count");
                if(currentImage > 0)
                {
                    currentImage--;
                    var next = $(imgs[currentImage]).attr("src");
                    if (next === "/_assets/img/default.png") {
                        next = $(imgs[currentImage]).attr("lazy-src");
                    }
                    var previd = $(imgs[currentImage]).attr("data-id");
                    $(".image-opener > .gallery > .gallery-image > img").attr("src",next);
                    $(".image-opener > .gallery > .gallery-image > img").attr("data-count",currentImage);
                    ChangeUrl('Page1x', '/image/'+previd+'/');
                }
                else {
                    return false;
                }
            }
        });
    </script>

    @if (!string.IsNullOrEmpty(Model.User.Location))
    {
        <script>
        $("document").ready(function () {
            $.get("/Account/GlobalRank/?userId=" + "@Model.User.Id", function (x) {
                $(".globalRank").html(x);
            })
        })
        </script>
    }
}




@if (Model.Logs != null && Model.Logs.Count > 3)
{
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
    <script>
            @{ var labels = string.Join(",", Model.Logs.Select(x => $"'{x.Date.ToString("dd/MM/yyyy")}'").Take(7)); }

            new frappe.Chart("#chartFollowers", {
                data: {
                labels: [@Html.Raw(labels)],
                datasets: [
                        {
                            type: "line",
                            values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Followers.ToString().Replace(",",".")).Take(7)))]
                        }
                    ]
                },
                lineOptions: {
                    dotSize: 3 // default: 4
                },
                type: 'axis-mixed',
                height: 150,
                colors: ['#fff']
            });

            new frappe.Chart("#chartFollowings", {
                data: {
                labels: [@Html.Raw(labels)],
                datasets: [
                        {
                            type: "bar",
                            values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Followings.ToString().Replace(",",".")).Take(7)))]
                        }
                    ]
                },
                lineOptions: {
                    dotSize: 3 // default: 4
                },
                type: 'axis-mixed',
                height: 150,
                colors: ['#fff']
            });
            new frappe.Chart("#chartPins", {
                data: {
                labels: [@Html.Raw(labels)],
                datasets: [
                        {
                            type: "bar",
                            values: [@Html.Raw(string.Join(",", Model.Logs.Select(x => x.Pins.ToString().Replace(",",".")).Take(7)))]
                        }
                    ]
                },
                lineOptions: {
                    dotSize: 3 // default: 4
                },
                type: 'axis-mixed',
                height: 150,
                colors: ['#fff']
            });
    </script>

    <style>
        .chart-container .axis, .chart-container .chart-label {
            fill: #fff;
        }
    </style>
}