﻿@model ListAccountsViewModel
@{
    ViewBag.Title = "Pinterest's Most Followed 15 Accounts";
    ViewBag.Description = "List of Pinterest's Most Popular Accounts based on Follower and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("List", "Account", new { slug = Model.Slug }));
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mb-10 mt-20">Pinterest's Most Followed @Model.Name Accounts</h1>
            <p>
                List of Pinterest's Most Popular @Model.Name Accounts based on Follower and Image Counts.
                This list is periodically update by automatically, please come and check again.
            </p>

            <div class="row">
                @{ var counter = 1; }
                @foreach (var item in Model.Users)
                {
                    var css = "bg-slate-600";

                    if (counter % 2 == 0) { css = "bg-pink-400"; }
                    if (counter % 3 == 0) { css = "bg-indigo-400"; }
                    if (counter % 4 == 0) { css = "bg-teal-400"; }

                    <div class="col-xl-3 col-sm-6 user-lists mb-3">
                        <div class="card @css" style="background-image: url(/_assets/img/panel_bg.png); background-size: contain;">
                            <div class="card-body text-center">
                                <div class="d-inline-block mb-3">
                                    <a href="@Url.Action("Index","Account", new { username = item.Username, userid = item.Id })/">
                                        <img class="img-fluid rounded-circle" src="@item.Avatar" width="75" height="75" alt="">
                                    </a>
                                </div>

                                <h6 class="font-weight-bold mb-0">@item.FullName</h6>
                                <span class="d-block opacity-75 mb-3">@item.Username</span>
                                <p><i class="icon-users4"></i> @item.FollowerCount.ToFormattedInt()</p>
                                <p><i class="icon-users"></i> @item.FollowingCount.ToFormattedInt()</p>
                                <p><i class="icon-pin"></i> @item.PinCount.ToFormattedInt()</p>
                                <p><i class="icon-clipboard"></i> @item.BoardCount.ToFormattedInt()</p>
                            </div>
                        </div>
                    </div>
                    counter++;
                }
            </div>
            
        </div>
    </div>
</div>
