﻿@model PinViewModel
@{
    ViewBag.Title = Model.Media.MediaTitle();
    ViewBag.Description = Model.Media.MediaDescription();
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Media", "Account", new { id = Model.Media.Id }));

    var tags = Model.Media.Caption.ToHashtags();
    var tagsInPage = new List<string>();
}



<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header bg-white">
                    <a href="@Url.Action("Index", "Account", new { username = Model.User.Username, userid = Model.User.Id })/"
                       title="@Model.User.AccountTitle()">
                        <div class="media fixtext">
                            <img src="@Model.User.Avatar"
                                 onerror="this.src = '/_assets/img/default.png';"
                                 class="mr-3 rounded-circle"
                                 alt="@Model.User.AccountAvatarTitle()"
                                 title="@Model.User.AccountAvatarTitle()"
                                 width="60" height="60" />
                            <div class="media-body">
                                <h5 class="mt-0 mb-3 h6">@Model.User.FullName</h5>
                                <p class="m-0">@Model.User.Username</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-body p-0">
                    <div class="pt-3">
                        <h1 class="centered h6 px-3">@Model.Media.MediaTitle()</h1>
                    </div>
                    <img class="w-100 mt-3" src="@Model.Media.ImagePath" alt="@Model.Media.Title" title="@Model.Media.Title" />
                    <div class="btn-group btn-group-justified share" role="group" aria-label="...">
                        @{
                            var url = "https://sosyol.com" + Url.Action("Media", "Account", new { id = Model.Media.Id }) + "/";
                        }
                        <a href="http://pinterest.com/pin/create/link/?url=@url&media=@Model.Media.ImagePath&description=@Model.Media.Caption" target="_blank" class="btn btn-pinterest url-unstyled"><i class="fab fa-pinterest-square"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u =@url &t=@Model.Media.Caption" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="btn btn-facebook url-unstyled"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/share?url=@url&text=@Model.Media.Caption" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="btn btn-twitter url-unstyled"><i class="fab fa-twitter-square"></i></a>
                    </div>
                    <div class="card-padding">
                        <p class="card-title px-3">@Model.Media.Caption</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <p class="m-0">@Model.Media.TimeAgo Time Ago</p>
                        <p class="m-0">@Extensions.ToNiceNumber(Model.Media.RepinCount) Repin</p>
                        <p class="m-0">@Extensions.ToNiceNumber(Model.Media.CommentCount) Comment</p>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Media.Link))
                    {
                        <div class="f-right">
                            <a target="_blank" href="@Model.Media.Link" class="btn btn-danger btn-sm">
                                Go To Source <i class="fas fa-external-link-alt"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="table-responsive card mb-4">
                <table class="table table-sm mb-0 table-striped">
                    <tbody>
                        <tr>
                            <td>Is Repin</td>
                            <td>@Model.Media.IsRepin</td>
                        </tr>
                        <tr>
                            <td>Repin Count</td>
                            <td>@Model.Media.RepinCount</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>
                                <a href="@Url.Action("Index","Hashtag", new { tag = Model.Media.Category.Replace("_","-") })/"
                                   title="@Model.Media.Category.Replace("_"," ").HashtagTitle()">
                                    @Model.Media.Category.Replace("_", " ")
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Created At</td>
                            <td>@Model.Media.Created</td>
                        </tr>
                        <tr>
                            <td>Pinner User Name</td>
                            <td>@Model.User.Username</td>
                        </tr>
                        <tr>
                            <td>Pinner Full Name</td>
                            <td>@Model.User.FullName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (tags.Count > 0)
            {
                <h3 class="mt-1 mb-3">Hashtag Suggestions</h3>
                <div class="centered suggests">
                    @foreach (var str in tags)
                    {
                        <a class="btn" href="@Url.Action("Index","Hashtag", new { tag = str.ToSlug() })/" title="@str.HashtagTitle()">
                            @str
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <h3 class="mt-2 mb-4 text-center">Related Medias</h3>
    <div class="row medias">
        @foreach (var item in Model.RelatedMedias)
        {
            item.TagsInPage = tagsInPage;

            @Html.Partial("_mediaWithUser", item)
        }
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $(document).ready(function () {
            if ('IntersectionObserver' in window) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                }

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('.card img');
                images.forEach(img => observer.observe(img));
            }

            setInterval(function () {
                $('.medias').masonry({
                    itemSelector: '.col-lg-4',
                });
            }, 1000)
        });
    </script>
}