﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-extendedible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="@ViewBag.Canonical" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="robots" content="@ViewBag.Robots">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" content="@ViewBag.Image" />
    <meta name="twitter:site" content="Sosyol">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.Description">
    <meta name="twitter:domain" content="sosyol.org">
    <meta name="twitter:image">

    <!-- CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <!-- JS -->
    <script src="/assets/js/custom.js"></script>
</head>
<body>
    <div class="navbar sd-header navbar-large" id="main">
        <a class="navbar-title c-white" href="/">Sosyol</a>
        <a class="navbar-subtitle c-white" href="/">Social Media Analyze and Statistics</a>
        <label for="drop" class="toggle navbar-item f-right">&#9776;</label>
        <div class="f-right">
            <nav>
                <input type="checkbox" id="drop">
                <ul class="menu">
                    <li>
                        <label for="drop-1" class="toggle navbar-item">Discover <i class="fas fa-chevron-down"></i></label>
                        <a href="#" class="navbar-item">Discover <i class="fas fa-chevron-down"></i></a>
                        <input type="checkbox" id="drop-1">
                        <ul class="nav-box">
                            <li><a href="@Url.Action("SearchIndex","Home")/" title="Search Pinterest Hashtags and Accounts"><i class="fas fa-search"></i> Search</a></li>
                            <li><a href="@Url.Action("TopAccounts","Account")/"><i class="fas fa-star"></i> Top Accounts</a></li>
                            <li><a href="@Url.Action("Top100Hashtags","Hashtag")/"><i class="fas fa-hashtag"></i> Top 100 Hashtags</a></li>
                            <li><a href="@Url.Action("Top30Categories","Hashtag")/"><i class="fas fa-tags"></i> Top 30 Categories</a></li>
                        </ul>
                    </li>
                    <li>
                        <label for="drop-2" class="toggle navbar-item">Analyze <i class="fas fa-chevron-down"></i></label>
                        <a href="#" class="navbar-item">Analyze <i class="fas fa-chevron-down"></i></a>
                        <input type="checkbox" id="drop-2">
                        <ul class="nav-box">
                            <li><a href="@Url.Action("Compare","Account")/"><i class="fas fa-equals"></i> Compare Accounts</a></li>
                        </ul>
                    </li>
                    <li>
                        <label for="drop-4" class="toggle navbar-item">Account <i class="fas fa-chevron-down"></i></label>
                        <a href="#" class="navbar-item">Account <i class="fas fa-chevron-down"></i></a>
                        <input type="checkbox" id="drop-4">
                        <ul class="nav-box">
                            <li><a href="@Url.Action("Login","Profile")/"><i class="fas fa-unlock"></i> Login</a></li>
                            <li><a href="@Url.Action("Signup","Profile")/"><i class="fas fa-user"></i> Sign Up</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @RenderBody()

    <div class="footer content-lg" align="center">
        <div class="grid-row">
            <div class="grid-col grid-col-3 grid-col-xs-6">
                <div class="menu">
                    <div class="menu-group">  <h3>About Us</h3></div>
                    <a href="/company" class="menu-item">Company</a>
                    <a href="/team" class="menu-item">Team</a>
                </div>
            </div>
            <div class="grid-col grid-col-3 grid-col-xs-6">
                <div class="menu">
                    <div class="menu-group">  <h3>Contact Us</h3></div>
                    <a class="menu-item">Contact Form</a>
                    <a class="menu-item">Join Newsletter</a>
                </div>
            </div>
            <div class="grid-col grid-col-3 grid-col-xs-6">
                <div class="menu">
                    <div class="menu-group">  <h3>Legal</h3></div>
                    <a class="menu-item" href="/privacy-policy">Privacy Policy</a>
                    <a class="menu-item" href="/report-guide">Report a Problem</a>
                </div>
            </div>
            <div class="grid-col grid-col-3 grid-col-xs-6">
                <div class="menu">
                    <div class="menu-group">  <h3>Follow Us</h3></div>
                    <a class="menu-item f-left" href="https://instagram.com/sosyolorg"> <i class="fab fa-instagram"></i></a>
                    <a class="menu-item f-left" href="https://twitter.com/sosyolorg"> <i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-col grid-col-12 mt-10"><small>2018 Sosyol.club - All rights reserved. All copyrights belong to their respective owners.</small></div>
            </div>
        </div>
    </div>

    <span class="btn btn-primary totop" onclick="window.scrollTo(0, 0);">
        <strong>Up</strong>
    </span>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139893624-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139893624-2');
    </script>
    @RenderSection("scripts", required:false)
</body>
</html>