﻿@using System.Text.RegularExpressions;
@model MediaBoxViewModel
@{
    var caption = string.IsNullOrEmpty(Model.Title)
        ? Model.Caption
        : Model.Title;

    //hala bos ise id verelim
    if (string.IsNullOrEmpty(caption) || string.IsNullOrWhiteSpace(caption))
    {
        caption = $"{Model.Username}'s pin {Model.Id}";
        Model.Caption = caption;
    }

    if (Model.Avatar == "https://s.pinimg.com/images/user/default_75.png")
    {
        Model.Avatar = "/assets/img/default-75.png";
    }
}
<div class="grid-item @Html.Raw(!string.IsNullOrEmpty(Model.Tag) && !Request.Browser.IsMobileDevice ? "grid-item-tag": "")">
    <div class="card">
        <div class="card-header">
                @if (Model.HasUserLink)
                {
                    <a class="url-unstyled" 
                       href="@Url.Action("Index", "Account", new { username = Model.Username, userid = Model.UserId })/"
                       title="@Model.Username.AccountTitleFromUsername(Model.FullName)">
                        <img class="img-circle-small img-circle-left" src="@Model.Avatar"
                             onerror="imgError(this);"
                             alt="@Model.Username.AccountAvatarTitleFromUsername(Model.FullName)"
                             title="@Model.Username.AccountAvatarTitleFromUsername(Model.FullName)" />
                    </a>
                }
                else
                {
                    <img class="img-circle-small img-circle-left" src="@Model.Avatar" 
                         onerror="imgError(this);"
                         alt="@Model.Username.AccountAvatarTitleFromUsername(Model.FullName)"
                         title="@Model.Username.AccountAvatarTitleFromUsername(Model.FullName)" />
                }
            <div class="img-circle-right">
                    @if (Model.HasUserLink)
                    {
                        <a class="strong block pt-5"
                           href="@Url.Action("Index", "Account", new { username = Model.Username, userid = Model.UserId })/"
                           title="@Model.Username.AccountTitleFromUsername(Model.FullName)">
                            @Model.FullName
                        </a>
                    }
                    else
                    {
                        <span class="pt-5 block strong">@Model.FullName</span>
                    }
                    <span class="pt-5 block">@Model.Username</span>
            </div>
        </div>
        <div class="card-body">
            <a href="@Url.Action("Media","Account", new { id = Model.Id })/" title="@Model.MediaTitle()">
                <img class="wh-100" src="@Model.ImagePath" alt="@caption" title="@caption" />
            </a>
            <div class="card-padding">
                <p class="card-title">
                    @{
                        var text = Model.Caption.StripHtml().Replace("#", " #") + " ";
                        var tags = Model.Caption.ToHashtags().OrderBy(x=>Guid.NewGuid());
                        int counter = 0;
                    }
                    @foreach (var tag in tags)
                    {
                        if (Model.TagsInPage.Contains(tag) || (!string.IsNullOrEmpty(Model.Tag) && tag == Model.Tag)) { continue; }

                        counter += 1;

                        var tagClear = tag.Replace("(", "")
                            .Replace(")", "")
                            .Replace("[", "")
                            .Replace("]", "");

                        var url = $"/tag/{tagClear.ToLower()}/";
                        var title = tagClear.HashtagTitle();
                        var regexTag = new Regex($"#{tagClear} ", RegexOptions.IgnoreCase);

                        text = regexTag.Replace(text, $"<a href='{url}' title='{title}'>#{tagClear}</a> ", 1);

                        Model.TagsInPage.Add(tagClear);

                        if (counter > 3)
                        {
                            break;
                        }
                    }

                    @Html.Raw(text)
                </p>
            </div>
        </div>
        <div class="card-footer centered">
            <div class="f-right">
               <i class="fas fa-clock"></i> @Model.TimeAgo
               <i class="fas fa-redo pl-10"></i> @Model.RepinCount
            </div>
        </div>
    </div>
</div>