/* Show it is fixed to the top */
body {
    padding-top: 3.78rem;
    font-family: 'Open Sans', sans-serif;
    background: #edf2f6;
}
.btn-warning-600{
  background: #F4511E!important;
  color:#fff;
}
.fixed-top{
  box-shadow: 0 1px 0 #e9eef1, 0 0 10px rgba(199, 199, 199, 0.2);
}

.form-control:focus{
  border-color:#dedede;
  box-shadow:none;
}
.btn.focus, .btn:focus{
  box-shadow:none;
}

.searchArea{
  position: relative;
    width: 450px;
}
.searchArea .form-control{width: 100%; background-color: #f7f9fb;}
.searchArea button{
  position: absolute;
  right: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
}

.active .nav-link{color:#F4511E;}
.nav-link{color:#333; font-size: 18px;}
.nav-link:hover{color:#F4511E;}
.jumbotron{border-radius: 0; background: none;padding: 0; margin-top: 20px;}

.banner{height: 400px; margin: 25px 0;}
.banner .row{height: 390px;}

.banner h1{
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  color: #FF6436;
}

.banner ul{
  list-style: none;
  padding: 0;
  margin: 20px 0 20px 0;
}
.banner ul::after{display: table; content:""; clear: both;}
.banner ul li{
  width: 33.33%;
  float: left;
}
.banner .searchArea .form-control{
  height: 60px;
}
.banner .searchArea button{
  height: 60px;
}

.col-md-hidden{
  background: url(../img/cat.png);
  background-size: cover;
}

.fullcontainer-withgray{position: relative; background: linear-gradient(0deg, rgba(242,246,248,1) 0%, rgba(248,250,251,1) 100%);
margin-top: 80px;
margin-bottom: 30px;
}
.fullcontainer-withgray .container{
  position: relative;
  top: -20px;
}
.fullcontainer-withgray::before{
  content: '';
    background: url(../img/gray-wave.png) 50% 0 no-repeat;
    position: absolute;
    top: -189px;
    height: 189px;
    left: 0;
    right: 0;
    background-size: cover;
}

.fullcontainer-withgray .title{
  font-size: 30px; color:#FF6436;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.fullcontainer-withgray .media img{
  border-radius: 50%;
}
.fullcontainer-withgray .media h5{
  font-size: 18px;
  line-height: 30px;
}
.fullcontainer-withgray .media p{
  margin-bottom: 0;
  line-height: 30px;
}

.fullcontainer-withgray .media{height: 60px;}
.fixtext h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
}

.card-footer .rank{float: left; width: 40%;}
.card-footer .global{font-size: 14px; text-align: center; margin-bottom: 3px;}
.card-footer .rank:nth-child(2){margin-right: 20%;}
.card-footer .rank p{font-size: 14px; margin:0; text-align: center;}
.card-footer .rank p:last-child{font-weight: 700; font-size: 20px;}

.features{margin-top: 70px;}
.features .card{ margin-bottom: 50px;}
.features .card .card-body{padding:50px 0 0 0;}
.features .card .features-icon{
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left:calc(50% - 30px);
  border-radius:50%;
}
.features .title{margin-bottom: 40px; text-align: center; font-size: 30px; color:#FF6436; font-weight: 700;}
.features ul{list-style: none; padding-right:15px;}
.features ul li::before{content: ""; position: absolute; left: 15px; width: 15px; height: 15px; border-radius: 50%; background: #F4511E;margin-top: 5px;}
.features ul li{margin-bottom: 15px;}
.features .card .features-title{text-align: center;padding: 0 15px 0 15px;}
.features .card .features-summary{text-align: center; border-bottom: 1px solid #dedede; margin-bottom: 10px; padding: 0 15px 20px 15px;}
.features .features-desc{padding-left: 10px; border-left:3px solid #F4511E;margin-left: 22px; margin-bottom: 10px; margin-top: 20px; padding-right:20px;}

.key-desc h4{margin: 10px 0 30px 0; font-size: 19px;}
.key-desc{margin-bottom: 15px;}

.example .title{margin-bottom: 40px; text-align: center; font-size: 30px; color:#FF6436; font-weight: 700;}
.example .col-lg-4{margin-bottom: 25px;}

.footer {margin-bottom: 10px;}
.footer .links ul{list-style: none;}
.footer .links ul li{float: left; margin-right: 10px;}
.footer .links ul li a{font-size: 12px;
  color: #74808d;
  text-decoration: underline;
  cursor: pointer;}
  .footer .links ul li a:hover{color:#038acc;}

.hashtag{width: 100%;margin-top: 25px;}
.hashtag .container{position: relative;}
.hashtag .tagcontainer{width: 150px; height: 150px; background-color: #F4511E; border-radius: 50%; color:#fff; font-size: 25px; font-weight: 700;}

.list-group .groups p{
  position: absolute;
  right: 15px; font-size: 30px; font-weight: 700; top: 16px;
}

.quality{height: 232px; padding: 70px; text-align: center;}
.quality p{margin:0; padding:0; font-size: 24px; font-weight: 700;}
.quality:first-child{border:1px solid #dedede; border-top-left-radius:.25rem ;border-bottom-left-radius:.25rem;}
.quality:last-child{border:1px solid #dedede; border-top-right-radius:.25rem ;border-bottom-right-radius:.25rem; border-left: 0;}

.hashtag-group a{
  border-bottom: 1px solid #dedede; margin-bottom: 5px; padding-bottom: 5px;
}
.hashtag-group a:hover{text-decoration: none;}
.hashtag-group a span{
  font-size: 13px;
  position: relative;
  top: 7px;
}

.shadow{box-shadow:2px 2px 2px rgba(0,0,0,.125);}
.border-red{border:3px solid #e60023;}
#stickybar, .table-cell {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 15px;
}

#stickybar {
    background-color: #fff;
    z-index: 100;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #dedede;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    width: 100%;
    z-index: 201;
    position:fixed;
    top:59px;
}
#stickybar .btn{
    color:#fff;
    background:#F4511E;
}

#stickybar .btn:nth-child(2) {
    background: #64d0a6;
}
#stickybar .btn:nth-child(3) {
    background: #69788b;
}
#stickybar .btn:nth-child(4) {
    background: #716753;
}
#stickybar .btn:nth-child(5) {
    background: #7e7f9b;
}
#stickybar .btn:nth-child(6) {
    background: #d8c8c9;
}
#stickybar .btn:nth-child(7) {
    background: #cec2a4;
}
#stickybar .btn:nth-child(8) {
    background: #8e8fbf;
}
#stickybar .btn:nth-child(9) {
    background: #ffca00;
}
#stickybar .btn:nth-child(10) {
    background: #7b6b52;
}
#stickybar .btn:nth-child(11) {
    background: #555566;
}
#stickybar .btn:nth-child(12) {
    background: #828f95;
}
#stickybar .btn:nth-child(13) {
    background: #8e8fbf;
}

.suggests .btn {
    color: #fff;
    background: #F4511E;
}

.suggests .btn:nth-child(2) {
    background: #64d0a6;
}

.suggests .btn:nth-child(3) {
    background: #69788b;
}

.suggests .btn:nth-child(4) {
    background: #716753;
}

.suggests .btn:nth-child(5) {
    background: #7e7f9b;
}

.suggests .btn:nth-child(6) {
    background: #d8c8c9;
}

.suggests .btn:nth-child(7) {
    background: #cec2a4;
}

.suggests .btn:nth-child(8) {
    background: #8e8fbf;
}

.suggests .btn:nth-child(9) {
    background: #ffca00;
}

.suggests .btn:nth-child(10) {
    background: #7b6b52;
}

.suggests .btn:nth-child(11) {
    background: #555566;
}

.suggests .btn:nth-child(12) {
    background: #828f95;
}

#stickybar .btn:nth-child(13) {
    background: #8e8fbf;
}

.search .card h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


.usercols .stat .card {
    color: #fff;
    background: #F4511E;
    position: relative;
}
.usercols .stat .card i{position:absolute; font-size:45px; right:10px; top:25px; opacity:.3;}
.usercols .stat:nth-child(2) .card {
    background: #64d0a6;
}
.usercols .stat:nth-child(3) .card {
    background: #69788b;
}
.usercols .stat:nth-child(4) .card {
    background: #716753;
}
.usercols .stat:nth-child(5) .card {
    background: #7e7f9b;
}
.usercols .stat:nth-child(6) .card {
    background: #d8c8c9;
}
.usercols .stat:nth-child(7) .card {
    background: #cec2a4;
}
.usercols .stat:nth-child(8) .card {
    background: #8e8fbf;
}
.usercols .stat:nth-child(9) .card {
    background: #ffca00;
}
.usercols .stat:nth-child(10) .card {
    background: #7b6b52;
}
.usercols .stat:nth-child(11) .card {
    background: #555566;
}
.usercols .stat:nth-child(12) .card {
    background: #828f95;
}
.usercols .stat:nth-child(13) .card {
    background: #8e8fbf;
    
}
.card .d-flex h3 {
    font-size: 1.3125rem;
    font-weight:500;
}


.timeline {
    position: relative
}

.timeline:after,
.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2px;
    background-color: #ccc;
    z-index: 1;
    width: 4px;
    height: 4px;
    border-radius: 50%
}

.timeline:before {
    top: -4px
}

.timeline:after {
    bottom: -4px
}

.timeline-container {
    position: relative;
    padding-top: .625rem;
    margin-top: -.625rem;
    padding-bottom: 1px
}

.timeline-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background-color: #ccc;
    height: 100%;
    width: 2px
}

.timeline-row {
    position: relative
}

.timeline-date {
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
    z-index: 1;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem
}

.timeline-date:after,
.timeline-date:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2px;
    background-color: #ccc;
    z-index: 1;
    width: 4px;
    height: 4px;
    border-radius: 50%
}

.timeline-date:before {
    top: 0
}

.timeline-date:after {
    bottom: 0
}

.card .timeline-date {
    background-color: #fff
}

.timeline-time {
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 1.25rem
}

.timeline-time:after,
.timeline-time:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2px;
    background-color: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%
}

.timeline-time:before {
    top: 0
}

.timeline-time:after {
    bottom: 0
}

.card .timeline-time {
    background-color: #fff
}

@media (min-width:768px) {
    .timeline-time:after,
    .timeline-time:before {
        content: none
    }
}

.timeline-icon {
    margin: 0 auto 1.25rem auto;
    background-color: #fff;
    border: 4px solid #f5f5f5;
    width: 3rem;
    height: 3rem;
    border-radius: 50%
}

.card .timeline-icon {
    border-color: #fff
}

.timeline-icon div {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0 0 0 2px #ccc inset;
    border-radius: 50%
}

.timeline-icon div[class*=bg-]:not(.bg-white):not(.bg-light):not(.bg-transparent) {
    box-shadow: none
}

.timeline-icon div > i {
    top: 0
}

.timeline-icon img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%
}


@media (min-width:768px) {
    .timeline-center .timeline-row-left {
        margin-right: 50%;
        padding-right: 2.75rem
    }

    .timeline-center .timeline-row-right {
        margin-left: 50%;
        padding-left: 2.75rem
    }

    .timeline-left .timeline-container:before,
    .timeline-left .timeline-date:after,
    .timeline-left .timeline-date:before,
    .timeline-left:after,
    .timeline-left:before {
        left: 1.5rem
    }

    .timeline-left .timeline-date,
    .timeline-left .timeline-row {
        padding-left: 5.5rem
    }

    .timeline-right .timeline-container:before,
    .timeline-right .timeline-date:after,
    .timeline-right .timeline-date:before,
    .timeline-right:after,
    .timeline-right:before {
        left: auto;
        right: 1.5rem
    }

    .timeline-right .timeline-date:after,
    .timeline-right .timeline-date:before,
    .timeline-right:after,
    .timeline-right:before {
        margin-left: 0;
        margin-right: -1px
    }

    .timeline-right .timeline-date,
    .timeline-right .timeline-row {
        padding-right: 5.5rem
    }

    .timeline-left .timeline-date,
    .timeline-right .timeline-date {
        padding-top: .625rem;
        padding-bottom: .625rem
    }

    .timeline-icon {
        position: absolute;
        top: .625rem
    }

    .timeline-icon:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 1rem;
        background-color: #ccc;
        z-index: 1
    }

    .timeline-left .timeline-icon {
        left: 0
    }

    .timeline-left .timeline-icon:after {
        left: 100%;
        margin-left: 4px
    }

    .timeline-right .timeline-icon {
        right: 0
    }

    .timeline-right .timeline-icon:after {
        right: 100%;
        margin-right: 4px
    }

    .timeline-center .timeline-row-left .timeline-icon {
        left: 100%;
        margin-left: -1.5rem
    }

    .timeline-center .timeline-row-left .timeline-icon:after {
        right: 100%;
        margin-right: 4px
    }

    .timeline-center .timeline-row-right .timeline-icon {
        right: 100%;
        margin-right: -1.5rem
    }

    .timeline-center .timeline-row-right .timeline-icon:after {
        left: 100%;
        margin-left: 4px
    }

    .timeline-center .timeline-row-full .timeline-icon {
        position: static
    }

    .timeline-center .timeline-row-full .timeline-icon:after {
        content: none
    }

    .timeline-time {
        padding: 0;
        text-align: inherit;
        background-color: transparent
    }

    .timeline-time:before {
        content: none
    }

    .timeline-left .timeline-time,
    .timeline-right .timeline-time {
        padding-top: .625rem;
        margin-bottom: 1.25rem;
        padding-left: 1.25rem
    }

    .timeline-right .timeline-time {
        text-align: right;
        padding-left: 0;
        padding-right: 1.25rem
    }

    .timeline-center .timeline-row-full .timeline-time,
    .timeline-center .timeline-time {
        position: absolute;
        left: 100%;
        top: .875rem;
        width: 100%;
        padding-left: 2.75rem
    }

    .timeline-center .timeline-row-full .timeline-time,
    .timeline-center .timeline-row-right .timeline-time {
        left: auto;
        right: 100%;
        padding-left: 0;
        padding-right: 2.75rem;
        text-align: right
    }

    .timeline-center .timeline-row-full .timeline-time {
        right: 50%;
        top: 4px
    }
}

.card-header .header-elements {
    padding-top: .9375rem
}

.page-header-content .header-elements {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 1.25rem 1.25rem;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #efefef
}

.page-header-light .header-elements {
    background-color: #fafafa;
    border-color: #ddd;
    border-bottom: 0
}

.page-header-dark .header-elements {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(255, 255, 255, .2);
    border-bottom: 0
}

.breadcrumb-line .header-elements {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 0 1.25rem;
    border-top: 1px solid transparent
}

.breadcrumb-line-light .header-elements {
    background-color: transparent;
    border-color: #ddd
}

.breadcrumb-line-dark .header-elements {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(255, 255, 255, .25)
}

.header-elements .form-group:last-child {
    margin-bottom: 0
}

.footer-elements-toggle,
.header-elements-toggle {
    margin-left: auto;
    -ms-flex-item-align: center;
    align-self: center
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.header-elements-inline .header-elements {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-left: 0;
    margin-right: 0
}

.header-elements-inline .card-header-tabs .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width:576px) {
    .header-elements-sm-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .header-elements-sm-inline .header-elements {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border: 0;
        margin-left: 0;
        margin-right: 0
    }

    .header-elements-sm-inline .card-header-tabs .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

@media (min-width:768px) {
    .header-elements-md-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .header-elements-md-inline .header-elements {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border: 0;
        margin-left: 0;
        margin-right: 0
    }

    .header-elements-md-inline .card-header-tabs .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

@media (min-width:992px) {
    .header-elements-lg-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .header-elements-lg-inline .header-elements {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border: 0;
        margin-left: 0;
        margin-right: 0
    }

    .header-elements-lg-inline .card-header-tabs .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

@media (min-width:1200px) {
    .header-elements-xl-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .header-elements-xl-inline .header-elements {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border: 0;
        margin-left: 0;
        margin-right: 0
    }

    .header-elements-xl-inline .card-header-tabs .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.timeline .card-header:not([class*=bg-]):not([class*=alpha-]) {
    background-color: transparent;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-width: 0;
}

.list-icons {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

a.list-icons-item:not([class*=text-]) {
    color: inherit;
}

a.list-icons-item {
    display: inline-block;
    line-height: 1;
    transition: all ease-in-out .15s;
}

.dropdown-toggle {
    white-space: nowrap;
}

.blockquote-bordered {
    border-left: 5px solid #eee;
}

.font-size-base {
    font-size: .8125rem;
}
.blockquote-footer {
    font-size: .8125rem;
    color: #999;
    display: block;
}
.dropdown-toggle::after{
    content:none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.25rem;
}
.list-inline-item {
    position: relative;
    display: inline-block;
}
p.text-default:not(.btn) {
    transition: color ease-in-out .15s;
}
.font-small {
    font-size: .8125rem;
}
.text-default {
    color: #333;
    font-size: .8125rem;
    margin:0;
}

.bgimages{
    width:100%;
    height:300px;
}

.bgimages .overlay {
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,.6)
}

.profileLine {
    height: 85px;
    position: relative;
}

.profileLine .content {
    left: 0;
    right: 0;
    top: -75px;
    z-index: 2;
    position: absolute;
}
.profileLine .content .profile-photo {
    bottom: 0;
    width: 160px;
    height: 160px;
    position: absolute;
    margin-bottom: -75px;
}

.profileLine .content .profile-photo img{
    border:3px solid #fff;
}

.profileLine .content .inner-content {
    padding-left: 185px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.profileLine .content .inner-content .name h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.profileLine .content .inner-content .usermeta {
    margin-top: 15px;
}
.profileLine .content .inner-content .usermeta ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profileLine .content .inner-content .usermeta ul li {
    font-size: 11px;
    font-weight: 500;
    color:#fff;
    margin-right: 15px;
    display: inline-block;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.profileLine .content .inner-content .usermeta ul li a {
    font-weight: 500;
    color: #fff;
}

.profileLine .header-content {
    min-height: 85px;
    position: relative;
}
.profileLine .header-content ul {
    list-style:none;
    padding:0;
    margin:0;
}
.profileLine .header-content ul li {
    float:left;
}

.profileLine .header-content ul:first-child {
    padding-left:185px;
}
.profileLine .header-content ul:first-child li {
    line-height:85px;
}
.profileLine .header-content ul:first-child li i{
    font-size:19px;
}
.profileLine .header-content ul:first-child li .badge {
    padding: .758rem;
}
.profileLine .header-content ul:last-child{
    padding-top:20px;
    text-align:center;
    
}
.profileLine .header-content ul:last-child li {
    margin-right: 20px;
}
.profileLine .header-content ul:last-child li:last-child {
    margin-right: 0;
}

.profileLine .header-content ul:last-child li p {
    font-size: 11px;
    text-transform:uppercase;
    font-weight:400;
    margin:0;
}

.profileLine .header-content ul:last-child li p:first-child {
    font-size: 19px;
    margin: 0;
}
.opacity-75 {
    opacity:.75;
}
.user-lists{color:#fff; font-size:.8125rem;}
.user-lists p {margin-bottom:5px; }
.user-lists h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}.user-lists span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-lists p:last-child{margin-bottom:0;}
.user-lists p{margin-bottom:0;}

.user-lists .card-overlay {
    background: rgba(0,0,0,.4);
    position: absolute;
    width: 100%;
    height: 164px;
    left: 0;
    top: 0;
}
.user-lists .card-overlay p{
    position:absolute;
    left:5px;
    top:5px;
    font-size:14px;
    font-weight:700;
}
.user-lists .card-img-actions img {
    border:2px solid #fff;
}

.badge-container{
    position:relative;
    float:left;
    margin-right:15px;
}

.badge-container small {
    position: absolute;
    top: -25px;
    width: 110px;
    left: -20px;
    background: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    display:none;
}

.badge-container:hover small {
    display: block;
}

.badge-card .container-fluid{min-height:165px;}


.image-opener {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(103,26,130,.5);
    background: linear-gradient(90deg, rgba(103,26,130,.5) 0%, rgba(130,26,83,.5) 100%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index:99;
}

.gallery {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

.gallery i {
    font-size: 40px;
    color: #fff;
    text-shadow:2px 2px #333;
    
}

.gallery img {
    width: 100%;
}

.gallery .right {
    height: 100%;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 20px;
    width: 45px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery .left {
    height: 100%;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 10px;
    width: 45px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery .gallery-image {
    overflow-y: scroll;
    height: -webkit-fill-available;
}

.gallery .gallery-image::-webkit-scrollbar {
    width: 7px;
}

.gallery .gallery-image::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.gallery .gallery-image::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid #fff;
}


.gallery .close {
    position: absolute;
    right: 20px;
    top: 0;
    width: 50px;
    height: 50px;
    color: #333;
    z-index: 999;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    opacity:1;
}

.gallery i:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .gallery {
        width: 300px;
        height: 300px;
    }
}

.rankcard {
    font-size: .8125rem;
}
.rankcard a i {
    font-size: .8125rem;
    color: #86939E;
}
.rankcard h6 {
    font-size: .9075rem;
    font-weight:700;
}
.border-2{border-width:2px!important;}
.rankcard span {
    font-size: 1.789rem;
    font-weight: 700;
}

.card-icon-list {
    width: 70px;
    height: 70px;
    line-height: 70px!important;
    font-size: 1.957rem!important;
    background: #fff;
    border-radius: 50%;
    color: #333;
}

@media only screen and (max-width: 600px) {
    .banner ul li{
      width: 100%;
      margin-bottom: 10px;
    }
    .col-md-hidden{display: none;}
    nav .searchArea{display: none;}
    .searchArea button{right:0;}
    .navbar-toggler{border:1px solid #dedede;}
    .banner{margin-bottom: 0;}
    .banner h1{font-size: 30px; text-align: center;}
    .fullcontainer-withgray .card{margin-bottom: 20px;}
  }

@media only screen and (max-width: 414px) {
    .bgimages{height:450px;}
    .overlay{height:450px!important;}
    .profileLine{position:unset; height:0;}
    .profileLine .content{top:90px; text-align:center;}
    .profileLine .content .profile-photo{position:unset; margin-bottom:0; width:100%;}
    .profileLine .content .inner-content{padding-left:0;}
    .profileLine .header-content {
        display: block !important;
        position: absolute;
        width: 100%;
        left: 0;
        top: 350px;
    }
    .profileLine .header-content ul:first-child {
        padding-left: 0;
        width: 100%;
        height: 44px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .profileLine .header-content ul:first-child li{
        line-height:44px;
    }
    .profileLine .header-content ul:last-child {
        color: #fff;
        justify-content: center;
        display: flex;
        align-items: center;
    }
  }