﻿@{
    ViewBag.Title = "Login to Your Account";
    ViewBag.Description = "If you have an account, you can login with your credentials";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Login", "Profile"));
}
<div class="content-xl grid">
    <div class="grid-row centered">
        <div class="grid-col grid-col-xs-12 grid-col-md-7 grid-col-xl-4 grid-col-lg-5 grid-col-4 mb-40">
            <div class="grid-item mt-40">
                <div class="card">
                    <div class="card-header">
                        <h1 class="sd-group-header-title c-dark">Login</h1>
                    </div>
                    <div class="card-body text-left">
                        <div class="card-padding">
                            <div class="form">
                                <form action="/login/" method="post">
                                    <div class="form-field">
                                        <div class="form-field-label "> <strong>E-mail</strong></div>
                                        <input type="text" class="input" name="Email" />
                                    </div>
                                    <div class="form-field">
                                        <div class="form-field-label "><strong>Password</strong></div>
                                        <input type="password" class="input" name="Password" />
                                    </div>
                                    <div class="form-field centered">
                                        <div class="btn btn-blue">
                                            <input type="submit" value="Login" />
                                        </div>
                                    </div>
                                </form>
                                <hr />
                                <p class="centered mb-40">Or login using any of these social networks</p>
                                <div class="btn-group btn-group-justified share mb-40" role="group" aria-label="...">
                                    <a href="" target="_blank" class="btn btn-twitter url-unstyled"><i class="ti-twitter f-left"></i>Login With Twitter</a>
                                </div>
                                <a class="f-left" href=""><small>Forgot Your Password?</small></a>
                                <a class="f-right" href=""><small>Not A Member Yet?</small></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
