﻿@{
    ViewBag.Title = "Register New Account";
    ViewBag.Description = "To use all tools of this site, please register an account.";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Signup", "Profile"));
}
<div class="content-xl grid">
    <div class="grid-row centered">
        <div class="grid-col grid-col-xs-12 grid-col-md-7 grid-col-xl-4 grid-col-lg-5 grid-col-4 mb-40">
            <div class=" grid-item mt-40">
                <div class="card">
                    <div class="card-header">
                        <h1 class="sd-group-header-title c-dark">Sign Up</h1>
                    </div>
                    <div class="card-body text-left">
                        <div class="card-padding">
                            <div class="form">
                                <div class="form-field">
                                    <div class="form-field-label"><strong>First Name</strong></div>
                                    <input type="text" class="input">
                                </div>
                                <div class="form-field">
                                    <div class="form-field-label "><strong>Last Name</strong></div>
                                    <input type="text" class="input">
                                </div>
                                <div class="form-field">
                                    <div class="form-field-label "><strong>E-mail</strong></div>
                                    <input type="email" class="input">
                                </div>
                                <div class="form-field">
                                    <div class="form-field-label "><strong>Password</strong></div>
                                    <input type="password" class="input">
                                </div>
                                <div class="form-field centered">
                                    <div class="btn btn-blue">Sign Up</div>
                                </div>

                                <hr />
                                <p class="centered mb-40">Or register using any of these social networks</p>
                                <div class="btn-group btn-group-justified share mb-20" role="group" aria-label="...">
                                    <a href="" target="_blank" class="btn btn-twitter url-unstyled">
                                        <i class="ti-twitter f-left"></i>Sign Up With Twitter
                                    </a>
                                </div>
                                <a class="f-left" href=""><small>Forgot Your Password?</small></a>
                                <a class="f-right" href="/Login"><small>Already Have An Account?</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
