﻿@{
    ViewBag.Title = "Learn more about company details";
    ViewBag.Description = "Read more about out company, vision and mission.";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Company", "Home"));
}
<div class="container mb-5">
    <div class="row mt-3">
        <div class="card">
            <div class="card-header inner">
                <h1 class="centered h4 mb-0">Myrica LLC Company Greets You!</h1>
            </div>
            <div class="card-body">
                <h2 class="centered h6 mt-3 mb-3 font-weight-bold">OUR HISTORY</h2>
                <p>
                    In the spring of 2018, we were started adventuring in the field of software engineering and we created our US corporation named “Myrica LLC”, based in New York. <br /><br /> Soon we realized that there was a huge demand for social media space, especially in the social media analytics market. We hired our first few employees and started creating our first twitter analytics & statistics website Twitery. We will continue with the same determination and strength by opening several more websites in the field of social media analytics and statistics.
                </p>
                <h3 class="mt-3 h6 font-weight-bold">
                    OUR VISION
                </h3>
                <p>
                    Exposing social media's strength and make analysis and reporting easier for every marketer and personal user.
                </p>
                <h3 class="mt-3 h6 font-weight-bold">
                    OUR MISSION
                </h3>
                <p>
                    We want to become a global player in social media analytics leaguge and want to be measured with the best in the world.
                </p>
                <p class="mt-20 mb-20">Myrica LLC - 2277 Progress Way, New York 10001 U.S.</p>
            </div>
        </div>
    </div>
</div>