﻿@model HomeViewModel
@{
    ViewBag.Title = "Manage, Analyze Social Media Accounts";
    ViewBag.Description = "Manage, Analyze accounts, monitor historical log data, monitor engagement, see charts about numbers. List Images, Videos and Ideas on different social media platforms.";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Home"));

    var tagsInPage = new List<string>();
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h1>Discover and analyze Pinterest influencers</h1>
                <ul>
                    <li>Based on open data and AI technologies</li>
                    <li>Best fraud-detection system</li>
                    <li>Accurate audience demographics</li>
                </ul>

                <form class="form-inline mt-2 mt-md-0 searchArea w-100">
                    <input class="form-control mr-sm-2 queryHome" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning-600 queryHomeButton" type="submit">Search</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-hidden">
            </div>
        </div>
    </div>
</div>

<div class="fullcontainer-withgray">
    <div class="container">
        <h3 class="title">Popular Accounts</h3>

        <div class="row">
            @foreach (var item in Model.PopularAccounts)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="@Url.Action("Index","Account", new { username = item.Username, userid = item.UserId })/" title="@item.Username.AccountTitleFromUsername(item.FullName)">
                                <div class="media fixtext">
                                    <img class="mr-3" src="@item.Avatar"
                                         alt="@item.Username.AccountTitleFromUsername(item.FullName)"
                                         title="@item.Username.AccountTitleFromUsername(item.FullName)"
                                         width="60" height="60" />
                                    <div class="media-body">
                                        <h5 class="m-0">@item.FullName</h5>
                                        <p>@item.Username</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer">
                            <p class="global">#26 in Global Rank</p>
                            <div class="rank">
                                <p>Followers</p>
                                <p>@Extensions.ToNiceNumber(item.Followers)</p>
                            </div>
                            <div class="rank">
                                <p>Followings</p>
                                <p>@Extensions.ToNiceNumber(item.Followings)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container features">
    <h3 class="title">Who is HypeAuditor for?</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg"
                         class="features-icon"
                         alt="">
                    <h4 class="features-title">For advertisers</h4>
                    <p class="features-summary">Invest only in influencers with quality target audience</p>
                    <ul>
                        <li>Powerful Instagram and YouTube analytics tool for making the right decisions</li>
                        <li>Discover Influencers with 25 filters including audience location, age & gender, engagement rate</li>
                        <li>Data-proven analysis in minutes, so you don’t have to hire experts or check manually</li>
                    </ul>
                    <p class="features-desc">
                        Use <strong>advertisers dashboard</strong> to organize your influencers and calculate audience quality of influencers for your next campaign
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg"
                         class="features-icon"
                         alt="">
                    <h4 class="features-title">For agencies & platforms</h4>
                    <p class="features-summary">Get reliable multi-source audience data including the most advanced fraud detection system</p>
                    <ul>
                        <li>Qualify influencer audience quality with the most advanced fraud detection system</li>
                        <li>Ensure the success of your customers and attract more users</li>
                        <li>Integrate via uncomplicated API to enrich reporting on your platform with audience demography, quality, and engagement authenticity</li>
                    </ul>
                    <p class="features-desc">
                        Integrate via <strong>uncomplicated API</strong> to enrich reporting on your platform with audience demography, quality, and engagement authenticity
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="http://demo.interface.club/limitless/demo/Template/global_assets/images/demo/users/face11.jpg"
                         class="features-icon"
                         alt="">
                    <h4 class="features-title">For influencers</h4>
                    <p class="features-summary">Know your audience to prove your worthiness</p>
                    <ul>
                        <li>See how engaged is your audience and what are they interested in</li>
                        <li>Show prospective clients that your audience is organic and engaged</li>
                        <li>Get more collaborations with top brands</li>
                    </ul>
                    <p class="features-desc">
                        Connect your Instagram or Youtube account to access your <strong>report for free</strong> and subscribe to weekly progress updates with actionable insights into improving your blog
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullcontainer-withgray">
    <div class="container">
        <h3 class="title">Key Features</h3>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 mb-5">
                <img src="https://hypeauditor.com/s/auditor/img/index/key-f-1.png?1579020540.86"
                     alt="Generic placeholder image"
                     title=""
                     class="w-100" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 key-desc">
                <h4>Audience quality analytics</h4>
                <p>Get in-depth analysis of the quality of audience and find fake or ghost followers numbers. The report will show the number of real people and influencers, the percentage of mass followers and suspicious accounts.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 key-desc">
                <h4>Audience quality analytics</h4>
                <p>Get in-depth analysis of the quality of audience and find fake or ghost followers numbers. The report will show the number of real people and influencers, the percentage of mass followers and suspicious accounts.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 mb-5">
                <img src="https://hypeauditor.com/s/auditor/img/index/key-f-1.png?1579020540.86"
                     alt="Generic placeholder image"
                     title=""
                     class="w-100" />
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 mb-5">
                <img src="https://hypeauditor.com/s/auditor/img/index/key-f-1.png?1579020540.86"
                     alt="Generic placeholder image"
                     title=""
                     class="w-100" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 key-desc">
                <h4>Audience quality analytics</h4>
                <p>Get in-depth analysis of the quality of audience and find fake or ghost followers numbers. The report will show the number of real people and influencers, the percentage of mass followers and suspicious accounts.</p>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <h3 class="title">Some Recent Medias</h3>
    <div class="row medias">
        @foreach (var item in Model.RecentMedias)
        {
            @Html.Partial("_mediaWithUser", item);
        }
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $(document).ready(function () {

            if ('IntersectionObserver' in window) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                }

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('.card img');
                images.forEach(img => observer.observe(img));
            }

            setInterval(function () {
                $('.medias').masonry({
                    itemSelector: '.col-lg-4',
                });
            }, 1000)
        });

        document.querySelector(".queryHome").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };

        document.querySelector(".queryHomeButton").onclick = function () {
            value = clearForSearch(document.querySelector(".query").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }

    </script>

    <style>
        body{background:#fff!important;}
    </style>
}