﻿@{
    ViewBag.Title = "Report Accounts";
    ViewBag.Description = "Fill Form to Report an Account";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("ReportGuide", "Home"));
}
<div class="container mb-5">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><h1 class="h4 font-weight-bold">How To Report a Problem</h1></div>
                <div class="card-body">
                    <h2 class="h6 font-weight-bold"><strong>Thanks for helping data quality improvement</strong></h2>
                    <p>We'd like to serve the best content to our users that will be proper and no privacy violated content.</p>

                    <p>To report and remove an account's page, please go to that account's page and click the <strong>"Report a problem"</strong> red button to mark it (which violates our <a href="/privacy-policy">Privacy Policy</a>) to get removed.</p>
                    <p>It usually takes only 1 day to completely remove that account's page and all it's related pins. Please give Google some time to remove all related pages from Google search results. </p>
                </div>
            </div>
        </div>
    </div>
</div>