﻿@model SuggestionResponseDto
@{
    var url = Url.Action("SearchQuery", "Home", new { query = Model.Term });
    ViewBag.Canonical = HttpHelper.Canonical(url);
}
@{
    Model.Term = Model.Term.Replace("_", " ");
    ViewBag.Title = @Model.Term + " Pinterest Hashtags and Accounts";
    ViewBag.Description = "List of Pinterest's Most Popular Accounts based on Follower and Image Counts";
    ViewBag.Robots = "noindex,follow";
}

<div class="container mt-3">
    <h1 class="h4">Search Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum libero at veniam sed suscipit, dolore ratione eligendi veritatis, blanditiis ipsum nam amet optio voluptatem excepturi deserunt minima perferendis dignissimos maiores, sunt fugiat repellat. Omnis odio, autem eveniet atque harum praesentium nobis repudiandae suscipit exercitationem beatae odit est facilis voluptate ullam?</p>
    <form class="form-inline">
        <div class="col-10 pl-0 my-1">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" value="@Model.Term" placeholder="Username">
            </div>
        </div>
        <div class="col-2 my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row mt-3 mb-4">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h3 class="h5">Hashtags</h3>
            <div class="hashtag-group">
                @foreach (var term in Model.Terms)
                {
                    <a class="d-flex justify-content-between" 
                       title="@term.Term.HashtagTitle()" 
                       href="@Url.Action("Index","Hashtag", new { tag = term.Term.ToSlug() })/">#@term.Term</a>
                }
                
                @if (Model.Terms.Count == 0)
                {
                    <p>Can't find any hashtag suggestion about @Model.Term</p>
                }
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <h3 class="h5">Users</h3>
            <div class="row search">
                @foreach (var user in Model.Users)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <div class="card p-3">
                            <a href="@Url.Action("Index", "Account", new { username = user.Username, userid = user.UserId })/"
                               title="@user.Username.AccountTitleFromUsername(user.FullName)"
                               class="media">
                                <img src="@user.AvatarLarge"
                                     onerror="this.src = '_assets/img/default.png';"
                                     class="mr-3 rounded-circle"
                                     alt="@user.Username.AccountAvatarTitleFromUsername(user.FullName)"
                                     title="@user.Username.AccountAvatarTitleFromUsername(user.FullName)"
                                     width="60"
                                     height="60">
                                <div class="media-body">
                                    <h5 class="mt-0 h6 mb-3">@user.FullName</h5>
                                    <p class="mb-0">@@@user.Username</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                @if (Model.Users.Count == 0)
                {
                    <p>Can't find any account suggestion about @Model.Term</p>
                }
            </div>
        </div>
    </div>
</div>