﻿
@{
    ViewBag.Title = "SearchIndex";
}

    <div class="container mt-3">
        <h1 class="h4">Search Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum libero at veniam sed suscipit, dolore ratione eligendi veritatis, blanditiis ipsum nam amet optio voluptatem excepturi deserunt minima perferendis dignissimos maiores, sunt fugiat repellat. Omnis odio, autem eveniet atque harum praesentium nobis repudiandae suscipit exercitationem beatae odit est facilis voluptate ullam?</p>
        <form class="form-inline">
            <div class="col-10 pl-0 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group">
                    <input type="text" class="form-control queryHome"  placeholder="Search user and hashtag">
                </div>
            </div>
            <div class="col-2 my-1">
                <button type="submit" class="btn btn-primary queryHomeButton">Search</button>
            </div>
        </form>
        
    </div>

@section scripts{
    <script>
        document.querySelector(".queryHome").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());

                window.location.assign("/search/" + value + "/");
                return false;
            }
        };

        document.querySelector(".queryHomeButton").onclick = function () {
            value = clearForSearch(document.querySelector(".query").value);
            if (value == '')
                ;
            else
                window.location.assign("/search/" + value + "/");

            return false;
        }
    </script>
    }