﻿@{
    ViewBag.Title = "Our Team";
    ViewBag.Description = "List of Contributors and Team Members";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Team", "Home"));
}

<div class="container mb-5">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header"><h1 class="h4 mb-0 font-weight-bold">Meet Our Team</h1></div>
                <div class="card-body">
                    <figure class="centered">
                        <img class="img-circle-big f-none wh-100" src="~/_assets/img/site/Michael-Santora.jpg" alt="Michael Santora" title="Michael Santora" />
                    </figure>
                    <h5 class="centered mt-10">
                        Michael Santora
                    </h5>
                    <p class="c-light centered mb-10"><i>Project Manager</i></p>
                    <small>
                        Michael was previously worked in operations and business development for a third party Instagram App developer. He has a bold experience in product operation of overseas enterprise resource planning, product research, demand analysis, system solutions, project and team management.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>