﻿@model TagPinsViewModel
@{
    ViewBag.Title = Model.Tag.HashtagTitle();
    ViewBag.Description = Model.Tag.HashtagDescription();
    ViewBag.Robots = Model.Medias.Count < 5
        ? "noindex,follow"
        : "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Hashtag", new { tag = Model.Tag }));

    var tagsInPage = new List<string>();
}
<div class="content-xl grid mt-20 page-headers">
    <div class="grid-row">
        <div class="grid-col grid-col-12">
            <h1>@Model.Tag.HashtagTitle()</h1>
            <p>
                Browse Pinterest @Model.Tag Images, Videos and Ideas recently shared on Pinterest.
                Also find suggestions for pinterest hashtag @Model.Tag
            </p>
        </div>
    </div>
</div>

<div class="content-xl grid">
    @if (Request.Browser.IsMobileDevice)
    {
        @Html.Partial("~/views/Ads/responsive.cshtml")
    }
    <div class="grid-row grid gallery centered" id="fth">
        @{ int counter = 0; }
        @foreach (var item in Model.Medias)
        {
            counter += 1;

            item.Tag = Model.Tag;
            item.TagsInPage = tagsInPage;
            item.HasUserLink = !Model.FromUser;

            @Html.Partial("_mediaBox", item)
        }
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Bookmark))
{
    <div class="centered mb-40">
        <input type="hidden" id="hdnBookmark" value="@Model.Bookmark" />
        <input type="hidden" id="hdnTag" value="@Model.Tag" />
        <input type="button" id="btnLoadMore" value="Load More" class="btn btn-error" style="padding:0px 100px !important" />
    </div>
}
@if (Model.Relateds.Count > 0)
{
    <div class="centered" id="stickybar">
        @foreach (var tag in Model.Relateds.OrderBy(x => Guid.NewGuid()).Take(10))
        {
            <a class="c-dark btn" href="@Url.Action("Index","Hashtag", new { tag = tag.ToSlug() })/" title="@tag.HashtagTitle()">
                @tag
            </a>
        }
    </div>
}
@section scripts
{
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    @if (!string.IsNullOrEmpty(Model.Bookmark))
    {
        <script>
            $(document).ready(function () {
                $("#btnLoadMore").click(function () {
                    var bookmark = $("#hdnBookmark").val();
                    var tag = $("#hdnTag").val();

                    $.ajax({
                        type: "POST",
                        url: "/loadmore/",
                        data: "{ 'tag': '" + tag + "','bookmark':'" + bookmark + "' }",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            $.each(result.medias, function (index, item) {
                                var userAnchorTitle = item.fullname + " (" + item.username + ")'s Pinterest Account, Images and Ideas";
                                var userAvatarTitle = item.fullname + "'s Pinterest Account Avatar";

                                $(".gallery").append("<div class='grid-item grid-item-tag'>" +
                                    "<div class='card'>" +
                                    "<div class='card-header'>" +
                                    "<a class='url-unstyled' href='/account/" + item.username + "/" + item.userid + "/' title='" + userAnchorTitle + "'>" +
                                    "<img class='img-circle-small img-circle-left' src='" + item.avatar + "' onerror='imgError(this);' alt='" + userAvatarTitle + "' title='" + userAvatarTitle + "'>" +
                                    "</a>" +
                                    "<div class='img-circle-right'>" +
                                    "<a class='strong block pt-5' href='/account/" + item.username + "/" + item.userid + "/' title='" + userAnchorTitle + "'>" +
                                    item.fullname +
                                    "</a>" +
                                    "<span class='pt-5 block'>" + item.username + "</span>" +
                                    "</div>" +
                                    "</div>" +
                                    "<div class='card-body'>" +
                                    "<a href='/image/" + item.mediaid + "/' title='" + item.caption + "'>" +
                                    "<img class='wh-100' src='" + item.image + "' alt='" + item.caption + "' title='" + item.caption + "'>" +
                                    "</a>" +
                                    "<div class='card-padding'>" +
                                    "<p class='card-title'>" + item.caption + "</p>" +
                                    "</div>" +
                                    "</div>" +
                                    "<div class='card-footer centered'>" +
                                    "<div class='f-right'>" +
                                    "<i class='fas fa-clock'></i> " + item.timeago +
                                    "<i class='fas fa-redo pl-10'></i> " + item.repincount +
                                    "</div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>");
                            });

                            $("#hdnBookmark").val(result.bookmark);
                            workMasonary(1000, 1);
                        }
                    });
                });
            });
        </script>
    }

    @if (!Request.Browser.IsMobileDevice || HttpHelper.IsTablet())
    {
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script>
            function workMasonary(interval, again) {
                setTimeout(function () {
                    var xWrapper = "gallery";
                    var xMasonaryElement = "grid-item";
                    var elem = document.querySelector('.' + xWrapper);
                    var msnry = new Masonry(elem, {
                        itemSelector: '.' + xMasonaryElement
                    });
                    if (again === 1) {
                        workMasonary(3000, -1); //toplamda iki kere calis
                    }
                    if (again === -1) {
                        workMasonary(3000, 1);
                    }
                }, interval);
            }

            workMasonary(1000, 1);
            window.onfocus = function () {
                workMasonary(100);
            };
        </script>
    }

    @if (Request.Browser.IsMobileDevice && !HttpHelper.IsTablet() && Model.Medias.Count > 0)
    {
        @Html.Partial("~/views/Ads/trick_ads.cshtml")
    }
}

