﻿@{
    ViewBag.Title = "Pinterest's Most Popular 100 Hashtags";
    ViewBag.Description = "List of Pinterest's Most Popular Hashtags based on Shared and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top100Hashtags", "Hashtag"));
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mt-20">Pinterest's Most Followed 100 Hastags</h1>
            <p>List of Pinterest's Most Popular Hashtags based on Shared and Image Counts</p>
            <div class="table table-striped mt-10">
                <div class="table-header">
                    <div class="row">
                        <div class="table-cell centered">#</div>
                        <div class="table-cell">Hashtag Name</div>
                        <div class="table-cell">Share Count</div>
                    </div>
                </div>
                @{
                    var dict = new Dictionary<string, string>() {
                                {"fail","1.221B" },
                                {"quotes","704.0M" },
                                {"success","701.0M" },
                                {"ideas","654.0M" },
                                {"recipe","628.2M" },
                                {"wedding","610.1M" },
                                {"project","540.0M" },
                                {"addict","522.3M" },
                                {"nails","491.0M" },
                                {"marketing","487.5M" },
                                {"tips","454.1M" },
                                {"start","402.1M" },
                                {"style","369.0M" },
                                {"bride","340.2M" },
                                {"aesthetic","301.7M" },
                                {"fashion","259.0M" }
                            };

                }
                <div class="table-body">
                    @{ int counter = 0; }
                    @foreach (var c in dict)
                    {
                        counter += 1;

                        <div class="row">
                            <div class="table-cell w-5 centered">@counter</div>
                            <div class="table-cell strong">
                                <a href="@Url.Action("Index","Hashtag", new { tag = c.Key })/" title="@c.Key.HashtagTitle()">
                                    @c.Key</a></div>
                            <div class="table-cell">@c.Value</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
