﻿@{
    ViewBag.Title = "Pinterest's Most Popular 30 Categories";
    ViewBag.Description = "List of Pinterest's Most Popular Categories based on Shared and Image Counts";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Top30Categories", "Hashtag"));
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mt-20 mb-10">Pinterest's Most Popular 30 Categories</h1>
            <p>List of Pinterest's Most Popular Categories based on Shared and Image Counts</p>
            @{ 
                var dict = new Dictionary<string, string>() {
                    { "Food & Drink","food-drink" },
                    { "Diy & Crafts","diy-crafts" },
                    { "Home Decor","home-decor" },
                    { "Women's Fashion","womens-fashion" },
                    { "Quotes","quotes" },
                    { "Health & Fitness","health-fitness" },
                    { "Weddings","weddings" },
                    { "Design","design" },
                    { "Hair Beauty","hair&beauty" },
                    { "Art","art" },
                    { "Kids","kids" },
                    { "Photography","photography" },
                    { "Humor","humor" },
                    { "Holiday Events","holiday-events" },
                    { "Education","education" },
                    { "Travel","travel" },
                    { "Film Music Books","film-music-books" },
                    { "Health Fitness","health-fitness" },
                    { "Products","products" },
                    { "Animals","animals" },
                    { "Celebrities","celebrities" },
                    { "Architecture","architecture" },
                    { "Gardening","gardening" },
                    { "Illustrations Posters","illustrations-posters" },
                    { "Outdoors","outdoors" },
                    { "Tattoos","tattoos" },
                    { "Technology","technology" },
                    { "Science Nature","science-nature" },
                    { "Men's Fashion","mens-fashion" },
                    { "Cars Motorcycles","cars-motorcycles" }
                };
            }
            <div class="table table-striped mt-10">
                <div class="table-header">
                    <div class="row">
                        <div class="table-cell centered">#</div>
                        <div class="table-cell">Category Name</div>
                        <div class="table-cell">Popularity</div>
                    </div>
                </div>
                <div class="table-body">
                    @{ int counter = 0; }
                    @foreach (var c in dict)
                    {
                        counter += 1;

                        <div class="row">
                            <div class="table-cell w-5 centered ">@counter</div>
                            <div class="table-cell strong">
                                <a href="@Url.Action("Index","Hashtag",new { tag = c.Value })/" title="@c.Key.HashtagTitle()">@c.Key</a>
                            </div>
                            <div class="table-cell">0.1%</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
