﻿@model HomeViewModel
@{
    ViewBag.Title = "Manage, Analyze Social Media Accounts";
    ViewBag.Description = "Manage, Analyze accounts, monitor historical log data, monitor engagement, see charts about numbers. List Images, Videos and Ideas on different social media platforms.";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Index", "Home"));

    var tagsInPage = new List<string>();
}
<div class=" main-bg">
    <div class="jumbotron content-xl c-white centered">
        <div class="jumbotron-title"><h1>Manage, Analyze & Browse Social Media Accounts</h1></div>
        <div class="jumbotron-subtitle c-white">
            Find accounts, monitor historical log data, monitor engagement, see charts about numbers. Best tool for management Social Media. Improve engagement rates, monitor your competitors.
        </div>
        <div class="mt-40">
            <input type="search" placeholder="Search Hashtags and Accounts" class="some-tagsearch w-100 p-20" value="" />
        </div>
    </div>
</div>
<div class="p-20 bg-dark centered">
    <div class="sd-group-header-title c-white">
        Most and Always Free Social Media Tools
    </div>
</div>
<div class="sd-group content-xl centered">
    <a class="sd-group-item mb-10" href="#">
        <div class="f-30 mb-20"><i class="fas fa-history big-icon"></i></div>
        <div class="title">Analytics and Statistics</div>
        <div class="desc">Search and reach Social Media analytics and list many statistics about them.</div>
    </a>
    <a class="sd-group-item mb-10" href="@Url.Action("TopAccounts","Account")/">
        <div class="f-30 mb-20"><i class="fas fa-star big-icon"></i></div>
        <div class="title">Popular Accounts</div>
        <div class="desc">List of Most Popular Social Media Accounts based on Follower Count</div>
    </a>
    <a class="sd-group-item mb-10" href="@Url.Action("Top100Hashtags","Hashtag")/">
        <div class="f-30 mb-20"><i class="fab fa-slack-hash big-icon"></i></div>
        <div class="title">Popular Hashtags</div>
        <div class="desc">List of Best Hashtags used in Social Media Images and Videos.</div>
    </a>
    <a class="sd-group-item mb-10" href="@Url.Action("Top30Categories","Hashtag")/">
        <div class="f-30 mb-20"><i class="fas fa-bars big-icon"></i></div>
        <div class="title">Categories</div>
        <div class="desc">Find Social Media images categorized by many popular categories.</div>
    </a>
    <a class="sd-group-item mb-10" href="@Url.Action("Compare","Account")/">
        <div class="f-30 mb-20"><i class="fas fa-equals big-icon"></i></div>
        <div class="title">Compare</div>
        <div class="desc">Compare two or more Social Media Accounts and Find which one is better.</div>
    </a>
    <a class="sd-group-item mb-10" href="#">
        <div class="f-30 mb-20"><i class="fas fa-history big-icon"></i></div>
        <div class="title">Historical Data</div>
        <div class="desc">Browse historical data about accounts and hashtags. Relation numbers, engagement rates, share counts.</div>
    </a>
</div>
<div class="content-xl grid">
    <h3 class="centered mb-20">Some Recent Medias</h3>
    <div class="grid-row grid gallery centered" data-colcade="columns: .grid-col, items: .grid-item">
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        <div class="grid-col grid-col-4 grid-col-sm-11"></div>
        @foreach (var item in Model.RecentMedias.Take(6))
        {
            item.TagsInPage = tagsInPage;

            @Html.Partial("_mediaBox", item)
        }
    </div>
</div>
@section scripts{
    <script>
        document.querySelector(".some-tagsearch").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());
                window.location.assign("/search/" + value + "/");
                return false;
            }
        };

        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, '_');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');

            return value;
        }
    </script>
}