﻿@model SuggestionResponseDto
@{
    var url = Url.Action("SearchQuery", "Home", new { query = Model.Term });
    ViewBag.Canonical = HttpHelper.Canonical(url);
}
@{
    Model.Term = Model.Term.Replace("_", " ");
    ViewBag.Title = @Model.Term + " Pinterest Hashtags and Accounts";
    ViewBag.Description = "List of Pinterest's Most Popular Accounts based on Follower and Image Counts";
    ViewBag.Robots = "noindex,follow";
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mb-10 mt-20">@Model.Term Pinterest Hashtags and Accounts</h1>
            <p>
                List of Pinterest's @Model.Term Accounts and Hashtag suggestions.
            </p>
            <div>
                <input type="search" placeholder="Search Hashtags and Accounts" class="some-tagsearch w-100 p-20" value="@Model.Term" />
            </div>
        </div>
        <div class="grid-col grid-col-6 pl-10">
            <h2>@Model.Term Account Suggestions</h2>
            @foreach (var user in Model.Users)
            {
                <div class="card mb-10">
                    <div class="card-header">
                        <a class="url-unstyled"
                           href="@Url.Action("Index", "Account", new { username = user.Username, userid = user.UserId })/"
                           title="@user.Username.AccountTitleFromUsername(user.FullName)">
                            <img class="img-circle-small img-circle-left" src="@user.AvatarLarge"
                                 onerror="imgError(this);"
                                 alt="@user.Username.AccountAvatarTitleFromUsername(user.FullName)"
                                 title="@user.Username.AccountAvatarTitleFromUsername(user.FullName)" />
                        </a>
                        <div class="img-circle-right">
                                <a class="strong block pt-5"
                                   href="@Url.Action("Index", "Account", new { username = user.Username, userid = user.UserId })/"
                                   title="@user.Username.AccountTitleFromUsername(user.FullName)">
                                    @user.FullName
                                </a>
                            <span class="pt-5 block">@user.Username</span>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Users.Count == 0)
            {
                <p>Can't find any account suggestion about @Model.Term</p>
            }
        </div>
        <div class="grid-col grid-col-6 pl-10 mb-40 pl-30">
            <h2>@Model.Term Hashtag Suggestions</h2>
            @foreach (var term in Model.Terms)
            {
                <p>
                    <a href="@Url.Action("Index","Hashtag", new { tag = term.Term.ToSlug() })/" title="@term.Term.HashtagTitle()">
                        #@term.Term
                    </a>
                </p>
            }
            @if (Model.Terms.Count == 0)
            {
                <p>Can't find any hashtag suggestion about @Model.Term</p>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        document.querySelector(".some-tagsearch").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());
                window.location.assign("/search/" + value + "/");
                return false;
            }
        };

        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, '_');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');

            return value;
        }
    </script>
}