﻿@{
    ViewBag.Title = "Search Pinterest Hashtags and Accounts";
    ViewBag.Description = "Write anything below search box to get and list tag and user suggestions about.";
    ViewBag.Robots = "noindex,nofollow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("SearchIndex", "Home"));
}
<div class="content-lg grid">
    <div class="grid-row">
        <div class="grid-col grid-col-12 mt-20">
            <h1 class="mb-10 mt-20">Search Pinterest Hashtags and Accounts</h1>
            <p>
                Write anything below search box to get and list tag and user suggestions about.
            </p>
            <div>
                <input type="search" placeholder="Search Hashtags and Accounts" class="some-tagsearch w-100 p-20" value="" />
            </div>
        </div>
        <div class="grid-col grid-col-12 mt-40 mb-20">
            <h3>And you can check below random popular pinterest users of course</h3>
            <div class="table table-striped mt-10">
                <div class="table-header">
                    <div class="row">
                        <div class="table-cell centered">#</div>
                        <div class="table-cell">User Name</div>
                        <div class="table-cell">Followers</div>
                    </div>
                </div>
                <div class="table-body">
                    @{
                        int counter = 1;
                    }
                    @foreach (var user in CacheHelper.PopularUsers.OrderBy(x => Guid.NewGuid()).Take(5))
                    {
                        <div class="row">
                            <div class="table-cell centered">@counter</div>
                            <div class="table-cell strong">
                                <a href="@Url.Action("Index","Account", new { userId = user.UserId, userName = user.Username })/"
                                   title="@user.Username.AccountTitleFromUsername(user.FullName)">@user.FullName</a>
                            </div>
                            <div class="table-cell">@user.Followers.ToNiceNumber()</div>
                        </div>

                        counter += 1;
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        document.querySelector(".some-tagsearch").onkeypress = function (e) {
            if (e.keyCode == 13) {
                value = clearForSearch(this.value.toLowerCase());
                window.location.assign("/search/" + value + "/");
                return false;
            }
        };

        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, '_');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');

            return value;
        }
    </script>
}