﻿@{
    ViewBag.Title = "Our Team";
    ViewBag.Description = "List of Contributors and Team Members";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = HttpHelper.Canonical(Url.Action("Team", "Home"));
}
<div class="content-lg grid">
    <h1 class="centered mt-20 mb-20">Meet Our Team</h1>
    <div class="grid-row">
        <div class="grid-col grid-col-6 grid-col-sm-12">
            <figure class="centered">
                <img class="img-circle-big f-none wh-100" src="/assets/img/site/Michael-Santora.jpg" alt="Michael Santora" title="Michael Santora" />
            </figure>
            <h5 class="centered mt-10">
                Michael Santora
            </h5>
            <p class="c-light centered mb-10"><i>Project Manager</i></p>
            <small>
                Michael was previously worked in operations and business development for a third party Instagram App developer. He has a bold experience in product operation of overseas enterprise resource planning, product research, demand analysis, system solutions, project and team management.
            </small>
        </div>
    </div>
</div>
