﻿@model List<CookieTestViewModel>
@{
    Layout = null;
}
<h1>@ViewBag.Ok is ok</h1>
<h1>@ViewBag.None is None</h1>
<table style="width:100%;">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width:70px;">@item.AccessToken</td>
            <td style="width:20px;">@item.IsSucceed</td>
            <td>@item.Message</td>
        </tr>
    }
</table>